<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> {{'allocationManagement.report.title' | translate }} </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                {{'allocationManagement.title' | translate }}
            </li>
            <li class="active">
                <strong> {{'allocationManagement.report.report' | translate }} </strong>
            </li>
        </ol>
    </div>
</div>
  
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">{{'allocationManagement.resources.dateFrom' | translate }}</label>
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [(ngModel)]="dateSince">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">{{'allocationManagement.resources.dateTo' | translate }}</label>
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [(ngModel)]="dateTo">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group checkbox-center">
                        <icheck [(checked)]="includeStaff">
                            <label class="control-label">{{'allocationManagement.report.includeStaff' | translate }}</label> 
                        </icheck>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <h4 class="control-label">Analiticas a incluir</h4>
                        <div class="radio radio-success radio-inline">
                            <input value="1" type="radio" [(ngModel)]="includeAnalyticId" [disabled]="unassigned">
                            <label> Todas </label>
                        </div> 
                    
                        <div class="radio radio-success radio-inline">
                            <input value="2" type="radio" [(ngModel)]="includeAnalyticId" [disabled]="unassigned">
                            <label> Abiertas </label>
                        </div>
            
                        <div class="radio radio-success radio-inline">
                            <input value="3" type="radio" [(ngModel)]="includeAnalyticId" [disabled]="unassigned">
                            <label> Cerradas </label>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label"> {{ 'allocationManagement.analytics.title' | translate }} </label>
                        <select select2 class="form-control" id="analyticId" multiple [disabled]="unassigned">
                            <option *ngFor="let analytic of analytics" [value]="analytic?.id">{{analytic?.text}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label"> {{ 'allocationManagement.allocation.resources' | translate }} </label>
                        <select select2 class="form-control" id="employeeId" [disabled]="unassigned">
                            <option value="0">Seleccione una opción</option>
                            <option *ngFor="let resource of resources" [value]="resource?.id">{{ resource?.text }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group checkbox-center">
                        <icheck [(checked)]="unassigned" (checkedChange)="unassignedChanged()">
                            <label class="control-label">Asignación incompleta</label> 
                        </icheck>
                    </div>
                </div>
            </div>
        </div> 
        <div class="ibox-footer">
            <div class="text-right">
                <button class="btn btn-warning" (click)="clean()">{{ 'ACTIONS.clean' | translate }} <i class="fa fa-refresh"></i></button>
                <button class="btn btn-success" (click)="search()"> {{ 'ACTIONS.search' | translate }} <i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>

    <div class="ibox" *ngIf="loaded == true"> 
        <div class="ibox-content">
            <div class="table-responsive">
                <table class="table table-striped dataTable" role="grid" id="resourcesTable">
                    <thead>
                        <tr>
                            <th class="column-sm">Título analítica</th>
                            <th class="column-lg">{{'allocationManagement.report.grid.analytic' | translate }}</th>
                            <th class="column-sm">{{'allocationManagement.report.grid.employeeNumber' | translate }}</th>
                            <th class="column-lg">{{'allocationManagement.report.grid.employee' | translate }}</th>
                            <th class="column-md">{{'allocationManagement.resources.grid.senority' | translate }}</th>
                            <th class="column-lg">{{'allocationManagement.resources.grid.profile' | translate }}</th>
                            <th class="column-md">{{'allocationManagement.resources.grid.technology' | translate }}</th>
                            <th class="column-lg">{{'allocationManagement.report.grid.boss' | translate }}</th>
                            <th class="column-sm">{{'allocationManagement.report.grid.billeability' | translate }}</th>

                            <th class="column-xs" *ngFor="let month of model?.monthsHeader">{{ month }} (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let resource of model?.rows">
                            <td class="column-sm">{{ resource.analyticTitle }}</td>
                            <td class="column-lg">{{ resource.analytic }}</td>
                            <td class="column-sm">{{ resource.employeeNumber }}</td>
                            <td class="column-lg">{{ resource.resourceName }}</td>
                            <td class="column-md">{{ resource.seniority}}</td>
                            <td class="column-lg">{{ resource.profile}}</td>
                            <td class="column-md">{{ resource.technology}}</td>
                            <td class="column-lg">{{ resource.manager}}</td>
                            <td class="column-sm">{{ resource.percentage}}</td>

                            <td class="column-xs" *ngFor="let month of resource.months">{{ month.percentage }}</td>
                        </tr>
                    </tbody>
                </table>       
            </div>
        </div>
    </div>
</div>