<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> {{'contracts.costCenter.list' | translate }} </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                {{'contracts.title' | translate }}
            </li>
            <li class="active">
                <strong> {{ 'contracts.costCenter.title' | translate }} </strong>
            </li>
        </ol>
    </div> 
</div>
     
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h4 class="pull-left">{{ 'contracts.costCenter.title' | translate }}</h4>
            
            <div class="ibox-tools" *ngIf="menuService.hasFunctionality('COSTCENTER', 'ADD')">
                <div class="btn-group">
                    <button class="btn btn-sm" type="button" [ngClass]="(actives)?'btn-primary':'btn-white'" (click)="filterActives(true)">Activos</button>
                    <button class="btn btn-sm" type="button" [ngClass]="(actives)?'btn-white':'btn-primary'" (click)="filterActives(false)">Todos</button>
                </div>

                <button class="btn btn-primary btn-sm" (click)="goToAdd()"> {{ 'ACTIONS.ADD' | translate }} <i class="fa fa-plus"></i></button>
            </div>
        </div>
        <div class="ibox-content">
            <table class="table table-striped dataTable" role="grid" id="costCentersTable">
                <thead>
                    <tr>
                        <th class="text-center column-xs">{{ 'contracts.costCenter.add.code' | translate }}</th>
                        <th class="text-center column-xs">{{ 'contracts.costCenter.add.letter' | translate }}</th>
                        <th>{{ 'contracts.costCenter.add.description' | translate }}</th>
                        <th class="text-center column-xs">{{ 'contracts.costCenter.add.active' | translate }}</th>
                        <th class="text-center column-xs">{{ 'ACTIONS.title' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let costCenter of costCentersFiltered; let i = index" class="pointer">
                        <td class="text-center column-xs">{{ costCenter.code }}</td>
                        <td class="text-center column-xs">{{ costCenter.letter }}</td>
                        <td>{{ costCenter.description }}</td>
                        <td class="text-center column-xs"><span class="fa" [ngClass]="costCenter.active ? 'fa-check text-success' : 'fa-close text-danger'"></span></td>
                        <td class="text-center column-xs">
                            <button class="btn btn-warning btn-xs" *ngIf="menuService.hasFunctionality('COSTCENTER', 'UPDATE')" (click)="gotToEdit(costCenter)"><i class="fa fa-edit"></i></button>

                            <button class="btn btn-xs" [ngClass]="(costCenter.active)?'btn-danger':'btn-success'" (click)="habInhabClick(costCenter, i)" *ngIf="menuService.hasFunctionality('COSTCENTER', 'DELETE')">
                                <span [ngClass]="(costCenter.active)?'fa-trash':'fa-mail-reply'" class="fa"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>       
        </div>
    </div>
</div>

<ng2-modal [config]="modalConfig" #confirmModal (accept)="confirm()">
    <h4>{{ modalMessage | translate }}</h4>
</ng2-modal>
