<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-xs-12">
        <h2>{{ 'ADMIN.category.admin' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <a>{{'ADMIN.SHORT_TITLE' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'ADMIN.category.title' | translate }}</strong>
            </li>
        </ol>
    </div>
</div> 

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h4 class="pull-left">{{ 'ADMIN.category.list' | translate }}</h4>
            
            <div class="ibox-tools" >
                <a [routerLink]="['/admin/categories/add']" class="btn btn-primary btn-sm btn-link" *ngIf="menuService.hasFunctionality('CATEGORY', 'ADD')"> {{ 'ACTIONS.ADD' | translate }} <i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div class="ibox-content">
            <table class="table table-striped" id="categoryTable" width="100%">
                <thead>
                    <tr>
                        <th>{{ 'ADMIN.category.description' | translate }}</th>
                        <th>{{ 'ADMIN.category.startDate' | translate }}</th>
                        <th>{{ 'ADMIN.category.endDate' | translate }}</th>
                        <th class="text-center column-xs">{{ 'ADMIN.category.active' | translate }}</th>
                        <th class="text-center column-xs">{{ 'ACTIONS.title' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categories">
                        <td>{{ category.description }}</td>
                        <td>{{ category.startDate | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ category.endDate | date: 'dd/MM/yyyy' }}</td>
                        <td class="text-center column-xs"><span class="fa" [ngClass]="category.active ? 'fa-check text-success' : 'fa-close text-danger'"></span></td>
                        <td class="text-center column-xs">
                            <button class="btn btn-warning btn-xs" (click)="goToDetail(category)" *ngIf="menuService.hasFunctionality('CATEGORY', 'UPDATE')"><i class="fa fa-edit"></i></button>

                            <button class="btn btn-xs" [ngClass]="(category.active)?'btn-danger':'btn-success'"
                                                       (click)="habInhabClick(category)" 
                                                       *ngIf="menuService.hasFunctionality('CATEGORY', 'DELETE')">

                                <span [ngClass]="(category.active)?'fa-trash':'fa-mail-reply'" class="fa"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>        
        </div>
    </div>
</div>

<ng2-modal [config]="confirmModalConfig" #confirmModal (accept)="confirm()">
    <h4>{{ 'ACTIONS.confirmBody' | translate }}</h4>
</ng2-modal> 