<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-element" dropdown>
          <img alt="image" class="gaps-image" src="assets/images/gaps.png">
        </div>
      </li> 
 
      <!--ADMIN-->
      <li [ngClass]="{active: activeRoute('admin')}" *ngIf="menuService.hasAdminMenu()">
        <a href="#"><i class="fa fa-gears"></i> <span class="nav-label">{{'ADMIN.TITLE' | translate }}</span> <span class="fa arrow"></span> </a>

        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('admin')}">
          <li [ngClass]="{active: activeRoute('users')}" *ngIf="menuService.hasFunctionality('USER', 'LIST')"><a [routerLink]="['/admin/users']" >{{'ADMIN.USERS.TITLE' | translate }}</a></li>
          <li [ngClass]="{active: activeRoute('roles')}"  *ngIf="menuService.hasFunctionality('ROLE', 'LIST')"><a [routerLink]="['/admin/roles']">{{'ADMIN.ROLES.TITLE' | translate }}</a></li>
          <li [ngClass]="{active: activeRoute('entities')}"  *ngIf="menuService.hasFunctionality('MODULE', 'LIST')"><a [routerLink]="['/admin/entities']">{{'ADMIN.module.title' | translate }}</a></li>
          <li [ngClass]="{active: activeRoute('functionalities')}"  *ngIf="menuService.hasFunctionality('FUNCITONALITY', 'LIST')"><a [routerLink]="['/admin/functionalities']">{{'ADMIN.FUNCTIONALITIES.TITLE' | translate }}</a></li>
          <li [ngClass]="{active: activeRoute('categories')}" *ngIf="menuService.hasFunctionality('CATEGORY', 'LIST')"><a [routerLink]="['/admin/categories']">{{ 'ADMIN.category.task' | translate }}</a></li>
          <li [ngClass]="{active: activeRoute('tasks')}" *ngIf="menuService.hasFunctionality('TASK', 'LIST')"><a [routerLink]="['/admin/tasks']">{{ 'ADMIN.task.title' | translate }}</a></li>
          <li [ngClass]="{active: activeRoute('holidays')}"  *ngIf="menuService.hasFunctionality('HOLIDAY', 'LIST')"><a [routerLink]="['/admin/holidays']">{{'workTimeManagement.holiday.title' | translate }}</a></li>
          <!-- <li [ngClass]="{active: activeRoute('states')}" *ngIf="menuService.hasFunctionality('STATES', 'LIST')"><a [routerLink]="['/admin/states']">Estados</a></li> -->
          <li [ngClass]="{active: activeRoute('settings')}"  *ngIf="menuService.hasFunctionality('CONFIG', 'UPDATE')"><a [routerLink]="['/admin/settings']">{{'ADMIN.settings.title' | translate }}</a></li>
          <!-- <li [ngClass]="{active: activeRoute('workflows')}" *ngIf="menuService.hasFunctionality('WORKFLOW', 'LIST')"><a [routerLink]="['/admin/workflows']">Workflows</a></li> -->
        </ul>
      </li>
 
      <!-- CONTRACTS -->
      <li [ngClass]="{active: activeRoute('management')}" *ngIf="menuService.hasContractsMenu()">
        <a href="#"><i class="fa fa-file-text"></i> <span class="nav-label">{{'contracts.title' | translate }}</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('management')}">
            <li [ngClass]="{active: activeRoute('consultant')}" *ngIf="menuService.hasFunctionality('CONSULTANT', 'LIST')"><a [routerLink]="['/management/consultant']">Consultoras</a></li>
            <li [ngClass]="{active: activeRoute('costCenter')}" *ngIf="menuService.hasFunctionality('COSTCENTER', 'LIST')"><a [routerLink]="['/management/costCenter']">{{'contracts.costCenter.title' | translate }}</a></li>
            <li [ngClass]="{active: activeRoute('contracts')}" *ngIf="menuService.hasFunctionality('CONTRACTS', 'LIST')"><a [routerLink]="['/management/contracts']">Contratos</a></li>
            <li [ngClass]="{active: activeRoute('delegates')}" *ngIf="menuService.hasFunctionality('CONTRACTS', 'DELEGATES')"><a [routerLink]="['/management/delegates']">Delegaciones</a></li>
        </ul>
      </li> 
 
      <!-- RESOURCES -->
      <li [ngClass]="{active: activeRoute('resources')}" *ngIf="menuService.hasResourcesMenu()">
        <a href="#"><i class="fa fa-users"></i> <span class="nav-label">{{'allocationManagement.title' | translate }}</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('allocationManagement')}">
            <li [ngClass]="{active: activeRoute('resources')}" *ngIf="menuService.hasFunctionality('RESOURCES', 'LIST')"><a [routerLink]="['/resources']">{{'allocationManagement.resources.title' | translate }}</a></li>
            <li [ngClass]="{active: activeRoute('unemployees')}" *ngIf="menuService.hasFunctionality('RESOURCES', 'UNEMPLOYEES')"><a [routerLink]="['/resources/unemployees']">{{'allocationManagement.resources.titleInactive' | translate }}</a></li>
            <li [ngClass]="{active: activeRoute('allocationsReport')}" *ngIf="menuService.hasFunctionality('ALLOCATION', 'REPORT')"><a [routerLink]="['/resources/allocationsReport']">{{'allocationManagement.report.report' | translate }}</a></li>
        </ul>
      </li> 

      <!-- WorkTimeManagement-->
      <li [ngClass]="{active: activeRoute('workTimeManagement')}" *ngIf="menuService.hasWorkTimeManagement()">
        <a href="#"><i class="fa fa-clock-o"></i> <span class="nav-label">{{'workTimeManagement.title' | translate }}</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('workTimeManagement')}">
          <li [ngClass]="{active: activeRoute('control')}" *ngIf="menuService.hasFunctionality('WORKTIME', 'CONTROL')"><a [routerLink]="['/workTimeManagement/workTime/control']">{{ 'workTimeManagement.worktimeControl.title' | translate }}</a></li>
          <li [ngClass]="{active: activeRoute('approval')}" *ngIf="menuService.hasFunctionality('WORKTIME', 'APPROVAL')"><a [routerLink]="['/workTimeManagement/workTime/approval']">{{'workTimeManagement.approvalHours' | translate }}</a></li>
          <li [ngClass]="{active: activeRoute('search')}" *ngIf="menuService.hasFunctionality('WORKTIME', 'LIST')"><a [routerLink]="['/workTimeManagement/workTime/search']">{{'workTimeManagement.query.query' | translate }}</a></li>
          <li [ngClass]="{active: activeRoute('import')}" *ngIf="menuService.hasFunctionality('WORKTIME', 'IMPORT')"><a [routerLink]="['/workTimeManagement/workTime/import']">{{ 'workTimeManagement.import.shortTitle' | translate }}</a></li>
          <li [ngClass]="{active: activeRoute('closeDate')}" *ngIf="menuService.hasFunctionality('WORKTIME', 'CLOSEDATE')"><a [routerLink]="['/workTimeManagement/closeDate']">{{'rrhh.closeDate.title' | translate }}</a></li>
        </ul>
      </li>

      <!-- Profile-->
      <li [ngClass]="{active: activeRoute('profile')}">
        <a href="#"><i class="fa fa-user"></i> <span class="nav-label"> {{ 'myActions' | translate }} </span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('profile')}">
          <li [ngClass]="{active: activeRoute('workTime')}" *ngIf="menuService.hasFunctionality('PROFILE', 'WORKTIME')"><a [routerLink]="['/profile/workTime']">{{'workTimeManagement.workTime.title' | translate }}</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
