<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> {{'contracts.new' | translate }} </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                {{'contracts.title' | translate }}
            </li>
            <li>
                {{'contracts.contracts' | translate }}
            </li>
            <li class="active">
                <strong> {{ 'contracts.new' | translate }} </strong>
            </li>
        </ol>
    </div>
</div>
 
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <analytic-form #form [mode]="'new'"></analytic-form>
        </div>
        <div class="ibox-footer">
            <button (click)="add()" class="btn btn-primary" type="button">{{'ACTIONS.save' | translate }} <i class="fa fa-save"></i> </button>
            <a class="btn btn-link btn-success text-white" (click)="back()"> <i class="fa fa-arrow-left"></i> {{ 'ACTIONS.back' | translate }} </a>
        </div>
    </div>
</div>

    