<div class="footer">
  <div class="pull-right">
    
  </div>
  <div class="app-version">
    <strong>Copyright</strong> Sofrecom &copy; {{ appVersion }} - Api: {{ apiVersion }} | <strong>Soporte</strong>: {{ supportMail }}
  </div>
</div>
