<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> {{ 'allocationManagement.analytics.listTitle' | translate }} </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                {{'contracts.title' | translate }}
            </li>
            <li class="active">
                <strong>{{ 'allocationManagement.analytics.title' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>
 
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">
            <div class="btn-right" *ngIf="menuService.hasFunctionality('CONTRACTS', 'ADD')">
                <!-- <button class="btn btn-success btn-sm btn-outline dim"  (click)="export()" *ngIf="model.length > 0"> {{ 'ACTIONS.export' | translate }} <i class="fa fa-download"></i></button> -->
                <button class="btn btn-primary btn-sm btn-outline dim" (click)="goToAdd()"> {{ 'ACTIONS.ADD' | translate }} <i class="fa fa-plus"></i></button>
            </div>
        </div>
    </div>

    <div class="panel-group" id="accordion">
        <div class="panel panel-success">
            <div class="panel-heading pointer" (click)="collapse()">
                <h5 class="panel-title">
                    {{'allocationManagement.analytics.search' | translate }}
                    <i id="search-icon" class="fa fa-caret-up fa-2x pull-right" style="line-height: 0.7"></i>
                </h5>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{ 'allocationManagement.analytics.title' | translate }}</label>
                                <ng-select [items]="analytics" bindLabel="text" bindValue="id" [(ngModel)]="analyticId" (change)="searchCriteriaChange()"></ng-select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Consultora</label>
                                <ng-select [items]="customers" bindLabel="text" bindValue="id" [(ngModel)]="customerId" (change)="customerChange()"></ng-select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{ 'allocationManagement.analytics.grid.status' | translate }}</label>
                                <ng-select [(ngModel)]="analyticStatusId" (change)="searchCriteriaChange()">
                                    <ng-option *ngFor="let item of analyticStatus" [value]="item.id">{{ item.text | translate }}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                    </div>                    
                    <div class="row">                     
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{ 'allocationManagement.analytics.add.manager' | translate }}</label>
                                <ng-select [items]="managers" bindLabel="text" bindValue="id" [(ngModel)]="managerId" (change)="searchCriteriaChange()"></ng-select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{ 'allocationManagement.analytics.add.director' | translate }}</label>
                                <ng-select [items]="directors" bindLabel="text" bindValue="id" [(ngModel)]="directorId" (change)="searchCriteriaChange()"></ng-select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ibox-footer">
                    <div class="text-right">
                        <button class="btn btn-warning btn-sm" (click)="clean()">{{ 'ACTIONS.clean' | translate }} <i class="fa fa-refresh"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="ibox float-e-margins">
        <div class="ibox-content" [ngClass]="(loading)?'sk-loading':''">
            <spinner></spinner>

            <table class="table table-striped dataTable" role="grid" id="analyticsTable">
                <thead>
                    <tr>
                        <th>{{ 'allocationManagement.analytics.grid.title' | translate }}</th>
                        <th>{{ 'allocationManagement.analytics.grid.name' | translate }}</th>
                        <th>Consultora</th>
                        <th>Gerente</th>
                        <th>Director</th>
                        <th>{{ 'allocationManagement.analytics.grid.status' | translate }}</th>
                        <th class="column-sm text-center">{{ 'ACTIONS.title' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let analytic of model">
                        <td>{{ analytic.title}}</td>
                        <td class="column-lg text-ellipsis">{{ analytic.name}}</td>
                        <td>{{ analytic.customerName}}</td>
                        <td>{{ analytic.managerName}}</td>
                        <td>{{ analytic.directorName}}</td>
                        <td><label class="label" [ngClass]="(analytic.status) == 1 ? 'label-primary':'label-success'">{{ getStatus(analytic) }}</label></td>
                        <td class="column-sm text-center">
                            <button title="{{ 'ACTIONS.EDIT' | translate }}" class="btn btn-warning btn-xs" *ngIf="menuService.hasFunctionality('CONTRACTS', 'UPDATE') && analytic.status == 1" (click)="gotToEdit(analytic)"><i class="fa fa-edit"></i></button>
                            <button title="Ver recursos" class="btn btn-success btn-xs" *ngIf="menuService.hasFunctionality('CONTRACTS', 'RESOURCES')" (click)="gotToResources(analytic)"><i class="fa fa-users"></i></button>
                            <button title="{{ 'ACTIONS.assign' | translate }}" class="btn btn-primary btn-xs" (click)="goToAssignResource(analytic)" *ngIf="analytic.status == 1 && menuService.hasFunctionality('ALLOCATION', 'ASSIGN')"><i class="fa fa-user-plus"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>       
        </div>
    </div>
</div>