<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> {{'workTimeManagement.query.title' | translate }} </h2>

        <ol class="breadcrumb">
            <li><a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a></li>
            <li>{{'workTimeManagement.title' | translate }}</li>
            <li class="active"><strong> {{'workTimeManagement.query.query' | translate }}</strong></li>
        </ol>
    </div>
</div>
 
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="panel-group" id="accordion">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" (click)="changeIcon()" style="display: block">
                        <span>{{'ACTIONS.search' | translate }}</span>
                        <i id="search-icon" class="fa fa-caret-up fa-2x pull-right" style="line-height: 0.7"></i>
                    </a>
                </h5>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{'allocationManagement.resources.dateFrom' | translate }}</label>
                                <date-picker [(date)]="searchModel.startDate"></date-picker>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{'allocationManagement.resources.dateTo' | translate }}</label>
                                <date-picker [(date)]="searchModel.endDate"></date-picker>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{ 'workTimeManagement.status' | translate }}</label>
                                <ng-select [(ngModel)]="searchModel.status">
                                    <ng-option *ngFor="let item of statuses" [value]="item.id">{{ item.text | translate }}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{ 'allocationManagement.analytics.title' | translate }}</label>
                                <ng-select [items]="analytics" bindLabel="text" bindValue="id" [(ngModel)]="searchModel.analyticId" (change)="setResources()"></ng-select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{ 'allocationManagement.allocation.resources' | translate }}</label>
                                <ng-select [items]="resources" bindLabel="text" bindValue="id" [(ngModel)]="searchModel.employeeId"></ng-select>
                            </div>
                        </div>
                        <div class="col-sm-4" *ngIf="canSeeManagers()">
                            <div class="form-group">
                                <label class="control-label">{{ 'allocationManagement.analytics.add.manager' | translate }}</label>
                                <ng-select [items]="managers" bindLabel="text" bindValue="id" [(ngModel)]="searchModel.managerId"></ng-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="text-right">
                        <button class="btn btn-warning" (click)="clean()"> {{ 'ACTIONS.clean' | translate }} <i class="fa fa-refresh"></i></button>
                        <button class="btn btn-success" (click)="search()" > {{ 'ACTIONS.search' | translate }} <i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ibox" *ngIf="gridIsVisible"> 
        <div class="ibox-content">
            <div class="table-responsive">
                <table class="table table-striped dataTable" role="grid" id="searchTable">
                    <thead>
                        <tr>
                            <th class="column-md">Consultora</th>
                            <th class="column-sm">Título contrato</th>
                            <th class="column-md">Contrato</th>
                            <th class="column-md">Gerente</th>
                            <th class="column-md">Recurso</th>
                            <th class="column-md">Perfil</th>
                            <th class="column-md">Categoria</th>
                            <th class="column-md">Tarea</th>
                            <th class="column-md">Referencia</th>
                            <th class="column-lg">Comentarios</th>
                            <th class="column-xs">Fecha</th>
                            <th class="column-xs text-center">Hours</th>
                            <th class="column-sm">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data">
                            <td class="column-md text-ellipsis">{{ item.client }}</td>
                            <td class="column-sm text-ellipsis">{{ item.analyticTitle }}</td>
                            <td class="column-md text-ellipsis">{{ item.analytic }}</td>
                            <td class="column-md text-ellipsis">{{ item.manager }}</td>
                            <td class="column-md text-ellipsis">{{ item.employee }}</td>
                            <td class="column-md text-ellipsis">{{ item.profile }}</td>
                            <td class="column-md text-ellipsis">{{ item.category }}</td>
                            <td class="column-md text-ellipsis">{{ item.task }}</td>
                            <td class="column-md text-word-break">{{ item.reference }}</td>
                            <td class="column-lg text-word-break">{{ item.comments }}</td>
                            <td class="column-xs">{{ item.date | date:'dd/MM/yyyy' }}</td>
                            <td class="column-xs text-center">{{ item.hours }}</td>
                            <td class="column-sm">
                                <span class="label label-worktime-{{item.status}} font-11">{{ item.status | translate  }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>       
            </div>
        </div>
    </div>
</div>