<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-xs-12">
        <h2>{{ 'contracts.consultant.add' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <a>{{'ADMIN.SHORT_TITLE' | translate }}</a>
            </li>
            <li class="active">
                <strong> {{ 'contracts.consultant.title' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <form [formGroup]="consultantForm" (ngSubmit)="save()">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" [ngClass]="{'has-error': formErrors.name}">
                                    <label for="name" class="control-label">{{ 'name' | translate }}</label>
                                    <input (blur)="logValidationErrors()" type="text" class="form-control" name="name"
                                        formControlName="name" maxlength="200">
                                    <span class="help-block" *ngIf="formErrors.name">
                                        {{formErrors.name}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" [ngClass]="{'has-error': formErrors.cuit}">
                                    <label for="cuit" class="control-label">{{ 'cuit' | translate }}</label>
                                    <input type="number" digitLimit="11"  class="form-control" name="cuit" formControlName="cuit"
                                        (blur)="logValidationErrors()">
                                    <span class="help-block" *ngIf="formErrors.cuit">
                                        {{formErrors.cuit}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" [ngClass]="{'has-error': formErrors.telephone}">
                                    <label for="telephone" class="control-label">{{ 'telephone' | translate }}</label>
                                    <input type="text" myNumberOnly maxlength="16" class="form-control" name="telephone" formControlName="telephone"
                                        (blur)="logValidationErrors()">
                                    <span class="help-block" *ngIf="formErrors.telephone">
                                        {{formErrors.telephone}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="contact" class="control-label">{{ 'contact' | translate }}</label>
                                    <input type="text" class="form-control" name="contact" formControlName="contact" maxlength="200">
                                </div>
                            </div>
                        </div>
                        <div class="well">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="address" class="control-label">{{ 'address' | translate }}</label>
                                        <input type="text" class="form-control" name="address"
                                            formControlName="address" maxlength="200">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group" [ngClass]="{'has-error': formErrors.city}">
                                        <label for="city" class="control-label">{{ 'city' | translate }}</label>
                                        <input type="text" class="form-control" name="city" formControlName="city"
                                            (blur)="logValidationErrors()" maxlength="200">
                                        <span class="help-block" *ngIf="formErrors.city">
                                            {{formErrors.city}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="postalCode"
                                            class="control-label">{{ 'postalCode' | translate }}</label>
                                        <input type="text" class="form-control" name="postalCode"
                                            formControlName="postalCode" maxlength="200">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group" [ngClass]="{'has-error': formErrors.country}">
                                        <label for="country" class="control-label">{{ 'allocationManagement.resources.grid.country' | translate }}</label>
                                        <ng-select [items]="countries" bindLabel="text" formControlName="country"
                                            (blur)="logValidationErrors()" [clearable]="false">
                                        </ng-select>
                                        <span class="help-block" *ngIf="formErrors.country">
                                            {{formErrors.country}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" [ngClass]="{'has-error': formErrors.province}">
                                        <label for="province" class="control-label">{{ 'province' | translate }}</label>
                                        <ng-select [items]="provinces" bindLabel="text" formControlName="province"
                                            onchange="logValidationErrors()" (blur)="logValidationErrors()">
                                        </ng-select>
                                        <span class="help-block" *ngIf="formErrors.province">
                                            {{formErrors.province}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="hr-line-dashed">

                        <input type="submit" class="btn btn-primary" value="{{'ACTIONS.ACCEPT' | translate }}" />
                        <a [routerLink]="['/management/consultant']" class="btn btn-success">
                            <i class="fa fa-arrow-left"></i>
                            {{ 'ACTIONS.back' | translate }}
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>