<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{ 'ADMIN.USERS.TITLE' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{ 'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <a>{{ 'ADMIN.TITLE' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'ADMIN.USERS.TITLE' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ 'ADMIN.USERS.MANAGEMENT' | translate }}</h5>

                    <div class="ibox-tools" >
                        <a [routerLink]="['add']" class="btn btn-primary btn-link" *ngIf="menuService.hasFunctionality('USER', 'ADD')"> {{ 'ACTIONS.ADD' | translate }} <i class="fa fa-plus"></i></a>
                    </div>
                </div>
                <div class="ibox-content">
                    <!-- <datatables #dt *ngIf="data != null" 
                      [data] = "data" 
                      [columns]="columns" 
                      [editionType]=editionType
                      [options]=options
                      [locationTexts]=locationTexts
                      (edit) = "goToDetail($event)"
                      (habInhab) = "habInhab($event)"
                      module="USER"
                      ></datatables> -->
             

                <table class="table table-striped" id="stateTable" width="100%">
                    <thead>
                        <tr>
                            <th>{{ 'ADMIN.name' | translate }}</th>
                            <th>{{ 'allocationManagement.resources.grid.employeeNumber' | translate }}</th>
                            <th>{{ 'ADMIN.mail' | translate }}</th>
                            <th class="text-center column-xs">{{ 'ADMIN.state.active' | translate }}</th>
                            <th>{{ 'ADMIN.startDate' | translate }}</th>
                            <th>{{ 'ADMIN.endDate' | translate }}</th>
                            <th class="text-center column-xs">{{ 'ACTIONS.title' | translate }}</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of data">
                            <td>{{ user.name }}</td>
                            <td>{{ user.employeeNumber }}</td>
                            <td>{{ user.email }}</td>
                            <td class="text-center column-xs">
                                <span class="fa" [ngClass]="user.active ? 'fa-check text-success' : 'fa-close text-danger'"></span>
                            </td>
                            <td>{{ user.startDate }}</td>
                            <td>{{ user.endDate }}</td>
                            <td class="text-center column-xs">
                                <button class="btn btn-warning btn-xs" (click)="goToDetail(user.id)">
                                   <i class="fa fa-edit"></i>
                               </button>
                               <button class="btn btn-xs" [ngClass]="(user.active)?'btn-danger':'btn-success'"
                                   (click)="openModalhabInhab(user)">
                                   <span [ngClass]="(user.active)?'fa-trash':'fa-mail-reply'" class="fa"></span>
                               </button>
                           </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            </div>
        </div>
    </div>
</div>

<ng2-modal [config]="modalUserConfig" #modalUser (accept)="habInhab()">
    <h4>{{modalMessage}}</h4>
</ng2-modal>