.analytic-column {
    width: 100px;
    font-size: 14px;
}

.buttons-column {
    width: 175px;
}

.percentage-column {
    width: 70px;
}

table{
    table-layout: fixed;
}

th, td {
    width: 80px;
}

.label {
    display: block;
    font-size: 12px;
}

.month-with-license {
    background-color: #ffe100;
}
