<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{'workTimeManagement.worktimeControl.title' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>{{'workTimeManagement.title' | translate }}</li>
            <li class="active">
                <strong>{{'workTimeManagement.worktimeControl.title' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">{{ 'allocationManagement.analytics.title' | translate }}</label>
                        <ng-select [items]="analytics" bindLabel="text" bindValue="id" [(ngModel)]="analyticId" (change)="getData()"></ng-select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <select-two [label]="'workTimeManagement.month'" [(value)]="closeMonthId" [firstOptionEmpty]="false" [options]="closeMonths" (valueChange)="getData()"></select-two>
                    </div>
                </div>

                <div class="col-sm-4">
                    <button class="btn btn-success btn-md m-t-md" (click)="export()"> {{ 'ACTIONS.export' | translate }} <i class="fa fa-download"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="ibox float-e-margins">
        <div class="ibox-content" [ngClass]="(loading)?'sk-loading':''">
            <spinner></spinner>
            <div class="row">
                <div class="col-sm-6">
                    <dl class="dl-horizontal">
                        <dt>Total horas a cargar</dt>
                        <dd>{{ model?.resume?.businessHours }} hs</dd>

                        <dt>{{ 'workTimeManagement.worktimeControl.businessHoursTotal' | translate }}</dt>
                        <dd>{{ model?.resume?.total }} hs</dd>

                        <dt>{{ 'workTimeManagement.worktimeControl.pendingHoursTotal' | translate }}</dt>
                        <dd>{{ model?.resume?.hoursPending }} hs</dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <dl class="dl-horizontal">
                        <dt>Horas en borrador</dt>
                        <dd>{{ model?.resume?.hoursDraft }} hs</dd>

                        <dt>Horas pendientes aprobacion</dt>
                        <dd>{{ model?.resume?.hoursPendingApproved }} hs</dd>

                        <dt>{{ 'workTimeManagement.worktimeControl.registeredHoursTotal' | translate }}</dt>
                        <dd>{{ model?.resume?.hoursApproved }} hs</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="ibox float-e-margins">
        <div class="ibox-content" [ngClass]="loading ? 'sk-loading' : ''">
            <spinner></spinner>
            <table class="table table-striped" id="gridTable" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>{{'workTimeManagement.worktimeControl.analytic' | translate }}</th>
                        <th>{{'workTimeManagement.worktimeControl.employeeNumber' | translate }}</th>
                        <th class="column-lg">{{'workTimeManagement.worktimeControl.employeeName' | translate }}</th>
                        <th>A cargar</th>
                        <th>Aprobadas</th>
                        <th>Pend. Aprobación</th>
                        <th>Borrador</th>
                        <th>Faltante</th>
                        <th>% Asignación</th>
                    </tr>
                </thead>
                <tbody *ngIf="model != null && model.resources != null">
                    <tr *ngFor="let item of model.resources" [attr.data-id]="item.id">
                        <td [ngClass]="item.detailCount > 0 ? 'details-control' : ''" style="width:20px">
                            <i [ngClass]="item.detailCount > 0 ? 'fa fa-plus-square' : ''" [attr.data-id]="item.id"></i>
                        </td>
                        <td>{{ item.id }}</td>
                        <td>{{ item.analytic }}</td>
                        <td>{{ item.employeeNumber }}</td>
                        <td class="column-lg">{{ item.employeeName }}</td>
                        <td>{{ item.businessHours }}</td>
                        <td>{{ item.approvedHours }}</td>
                        <td>{{ item.sentHours }}</td>
                        <td>{{ item.draftHours }}</td>
                        <td>{{ item.pendingHours }}</td>
                        <td>{{ item.allocationPercentage }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
