<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{ 'ADMIN.USERS.TITLE' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{ 'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <a>{{ 'ADMIN.TITLE' | translate }}</a>
            </li>
            <li>
                <a [routerLink]="['../../']">{{ 'ADMIN.USERS.TITLE' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'ADMIN.USERS.ADD' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>
 
<div class="wrapper wrapper-content animated fadeInUp">
    <div class="ibox float-e-margins">

        <div class="ibox-content" [ngClass]="(loading)?'sk-loading':''">
            <spinner></spinner>

            <div class="row m-b-lg">
                <div class="col-lg-12">
                    <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="toSearch" [disabled]="loading"> 
                        <span class="input-group-btn"> 
                            <button type="button" class="btn btn-primary" [disabled]="loading" (click)="searchByEmail()">{{ 'ADMIN.USERS.searchByMail' | translate }}</button>
                            <button type="button" class="btn btn-success" [disabled]="loading" (click)="searchBySurname()">{{ 'ADMIN.USERS.searchBySurname' | translate }}</button> 
                        </span>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="usersFound && !showEmployee">
                <div class="col-lg-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{ 'ADMIN.USERS.mail' | translate }}</th>
                                <th>{{ 'ADMIN.USERS.name' | translate }}</th>
                                <th>{{ 'ADMIN.USERS.user' | translate }}</th>
                                <th>{{ 'ADMIN.action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{ user.userPrincipalName }}</td>
                                <td>{{ user.displayName }}</td>
                                <td>{{ user.userName }}</td>
                                <td><button class="btn btn-primary btn-xs" (click)="select(user)">{{ 'ACTIONS.ADD' | translate }}</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
 
            <employee-form #employeeDetail [hidden]="!showEmployee"></employee-form>

        </div>

        <div class="ibox-footer">
            <button class="btn btn-success" (click)="back()"> <i class="fa fa-arrow-left"></i> {{ 'ACTIONS.back' | translate }} </button>
            <button *ngIf="showSave" class="btn btn-primary" (click)="save()"> {{ 'ACTIONS.save' | translate }} <i class="fa fa-save"></i></button>
        </div>
    </div>
</div>