
<!-- Modal -->
<div [id]="config.id" class="modal" role="dialog">
  <div class="modal-dialog {{size}}">

    <div class="modal-content">
 
      <!-- header-->
      <div class="modal-header pointer">
          <button type="button" class="close" data-dismiss="modal" (click)="closeEvent($event)" *ngIf="config.closeIcon">&times;</button>
          <h3 class="modal-title">{{config.title | translate}}</h3>
      </div>

      <!-- body-->
      <div class="modal-body">
        <ng-content></ng-content>
      </div>

      <!-- footer-->
      <div class="modal-footer">
        <btn-confirm-inline class="pull-left" #btnDelete *ngIf="config.deleteButton" [class]="'btn btn-danger'" [text]="'ACTIONS.DELETE'" (onConfirm)="deleteEvent()"></btn-confirm-inline>

        <button type="button" class="btn btn-default" (click)="closeEvent()" *ngIf="config.cancelButton" [disabled]="isProcessing">{{config.cancelButtonText | translate}}</button>
        <button type="button" class="btn btn-success" (click)="acceptEvent()" *ngIf="config.acceptButton"  [disabled]="!isSaveEnabled" [ladda]="isProcessing" >{{config.acceptButtonText | translate}}</button>

        <btn-confirm-inline #btnSuccess *ngIf="config.acceptInlineButton" [class]="'btn btn-success'" [text]="config.acceptButtonText" (onConfirm)="acceptEvent()" [isDisabled]="!isSaveEnabled"></btn-confirm-inline>
      </div>
    </div>

  </div>
</div>