<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> {{ form.model.title }} - {{ form.model.name }} <label class="label label-primary">{{ getStatus() }}</label> </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                {{'allocationManagement.analytics.title' | translate }}
            </li>
            <li class="active">
                <strong> {{ 'allocationManagement.analytics.view' | translate }} </strong>
            </li>
        </ol>
    </div>
</div>
  
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-success btn-outline dim" (click)="back()"> <i class="fa fa-arrow-left"></i> {{ 'ACTIONS.back' | translate }} </button>

            <div class="btn-right">
                <button class="btn btn-warning btn-outline dim" (click)="openForClose()" *ngIf="form.model.status != 2 && menuService.hasFunctionality('CONTR', 'CLOSE')"> 
                    {{ 'allocationManagement.analytics.close' | translate }} <i class="fa fa-times-circle"></i> 
                </button>   

                <button class="btn btn-warning btn-outline dim" (click)="openForCloseForExpenses()" *ngIf="form.model.status == 1"> 
                    {{ 'allocationManagement.analytics.closeForExpenses' | translate }} <i class="fa fa-times-circle"></i> 
                </button>
            </div>
        </div>
    </div>

    <div class="ibox float-e-margins"> 
        <div class="ibox-content">
            <analytic-form #form [mode]="'view'"></analytic-form>
        </div>
    </div>
</div>

<ng2-modal [config]="confirmModalConfig" #confirmModal (accept)="close()">
    <h4>{{ 'ACTIONS.confirmBody' | translate }}</h4>
</ng2-modal>