<div class="row whapper border-botton white-bg page-heading">
    <div class="col-xs-12">
        <h2>{{ 'contracts.consultant.add' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{ 'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <a [routerLink]="['/']">{{ 'ADMIN.SHORT_TITLE' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'contracts.consultant.title' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animate fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h4 class="pull-left">{{ 'contracts.consultant.list' | translate }}</h4>

            <div class="ibox-tools">
                <a [routerLink]="['/management/consultant/add']" class="btn btn-primary btn-sm btn-link"
                    *ngIf="menuService.hasFunctionality('CONSULTANT', 'ADD')">
                    {{ 'ACTIONS.ADD' | translate }}
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <table class="table table-striped" id="consultantTable" width="100%">
                <thead>
                    <tr>
                        <th>{{ 'name' | translate }}</th>
                        <th>{{ 'cuit' | translate }}</th>
                        <th>{{ 'telephone' | translate }}</th>
                        <th class="text-center column-xs">{{ 'ADMIN.state.active' | translate }}</th>
                        <th class="text-center column-xs">{{ 'ACTIONS.title' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let consultant of consultants">
                        <td>{{ consultant.name }}</td>
                        <td>{{ consultant.cuit }}</td>
                        <td>{{ consultant.telephone }}</td>
                        <td class="text-center column-xs">
                           <span class="fa" [ngClass]="consultant.active ? 'fa-check text-success' : 'fa-close text-danger'"></span>
                        </td>
                        <td class="text-center column-xs">
                             <button class="btn btn-warning btn-xs" (click)="goToDetail(consultant.id)"
                                *ngIf="menuService.hasFunctionality('CONSULTANT', 'UPDATE')">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-xs" [ngClass]="(consultant.active)?'btn-danger':'btn-success'"
                                (click)="habInhabClick(consultant)" *ngIf="menuService.hasFunctionality('CONSULTANT', 'DELETE')">
                                <span [ngClass]="(consultant.active)?'fa-trash':'fa-mail-reply'" class="fa"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>