<section id="admin_roleEdit">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>{{ 'ADMIN.ROLES.TITLE' | translate }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a [routerLink]="['/']">{{ 'HOME.TITLE' | translate }}</a>
                </li>
                <li>
                    <a>{{ 'ADMIN.TITLE' | translate }}</a>
                </li>
                <li>
                    <a [routerLink]="['../../']">{{ 'ADMIN.ROLES.TITLE' | translate }}</a>
                </li>
                <li class="active">
                    <strong>{{ 'ACTIONS.EDIT' | translate }}</strong>
                </li>
            </ol>
        </div>
    </div>


    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ 'ADMIN.ROLES.EDIT' | translate }}</h5>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal" #formRef="ngForm" (ngSubmit)="onSubmit()">

                            <!--Description-->
                            <div class="form-group"><label class="col-xs-2 control-label">{{ 'ADMIN.ROLES.GRID.description' | translate }}</label>
                                <div class="col-xs-10">
                                    <input type="text" name="description" class="form-control" [(ngModel)]="role.description" #descripRef="ngModel" required> 
                                </div>
                            </div>

                            <div class="form-group" *ngIf="role">
                                <div class="col-xs-12">
                                    <icheck  [(checked)]="role.active"> <!--(click)="onActiveClick($event)"-->
                                        <label class="col-xs-2 control-label icheck-label">{{ 'ADMIN.ROLES.GRID.active' | translate }}</label> 
                                    </icheck>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-lg-offset-2">
                                    <button class="btn btn-primary" type="submit"><strong>{{ 'ACTIONS.ACCEPT' | translate }}</strong></button>
                                    <a [routerLink]="['/admin/roles']" class="btn btn-success btn-link text-white"><i class="fa fa-arrow-left"></i> {{ 'ACTIONS.back' | translate }} </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <!--MODULES-->
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-info-circle"></i> {{ 'ADMIN.module.title' | translate }}
                        <a class="pull-right" (click)="addFunctionality()" *ngIf="menuService.hasFunctionality('ROLE', 'ADD-FUNCTIONALITY')"><i class="fa fa-plus icon-white"></i></a>
                    </div> 
                    <div class="panel-body">
                        <div class="scroll">
                            <div class="dd">
                                <ol class="dd-list">
                                    <li *ngFor="let m of role.modules" class="dd-item">
                                        <div class="dd-handle">
                                            {{m.description}}
                                    
                                            <a class="pull-right" (click)="openConfirmModel(m.id)"><i class="check-link fa fa-times icon-danger margin-left-s"></i></a>
                                        </div>
                                        
                                        <ol class="dd-list">
                                            <li *ngFor="let f of m.functionalities" class="dd-item">
                                                <div class="dd-handle">
                                                    {{f.description}}
                                                     <a class="pull-right" (click)="openConfirmFunctModel(f.id)" *ngIf="menuService.hasFunctionality('ROLE', 'ADD-FUNCTIONALITY')"><i class="check-link fa fa-times icon-danger margin-left-s"></i></a>
                                                </div>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>

<ng2-modal [config]="functModalConfig" #functModal (accept)="assignFunctionalities()">
    <h4 class="margin-bottom-m">{{ 'ADMIN.FUNCTIONALITIES.select' | translate }}</h4>
    
    <!--COMBO DE MODULOS-->
    <div class="form-group">
        <label class="col-xs-2 control-label">{{ 'ADMIN.module.title' | translate }}</label>
        <div class="col-xs-10">
            <select class="form-control m-b" name="role" (ngModelChange)="loadFunctionalities($event)" [(ngModel)]="moduleSelected">
                <option *ngFor="let module of allModules" [value]="module?.id">{{module?.description}}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="scroll form-group">
                <div *ngFor="let f of functionalitiesToAdd; let i = index"  style="margin-top:10px;">
                    <icheck  [checkAtLeft]="checkAtLeft" [(checked)]="f.included" >
                        <label style="padding-left:20px;">{{f.description}}</label> 
                    </icheck>
                </div>
            </div>
        </div>
    </div>
</ng2-modal>

<ng2-modal [config]="confirmModalConfig"  #confirmModal (accept)="unAssignModule(moduleId)">
    {{ 'ADMIN.module.deleteConfirm' | translate }}
</ng2-modal>

<ng2-modal [config]="confirmFunctModalConfig"  #functConfirmModal (accept)="unAssignFunct()">
    {{ 'ADMIN.FUNCTIONALITIES.deleteConfirm' | translate }}
</ng2-modal>