<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> {{ 'allocationManagement.resources.listTitle' | translate }} </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                {{'allocationManagement.title' | translate }}
            </li>
            <li class="active">
                <strong> {{'allocationManagement.resources.title' | translate }} </strong>
            </li>
        </ol>
    </div>
</div>
 
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="panel-group" id="accordion">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" (click)="changeIcon()" style="display: block">
                        <span>{{'allocationManagement.resources.search' | translate }}</span>
                        <i id="search-icon" class="fa fa-caret-up fa-2x pull-right" style="line-height: 0.7"></i>
                    </a>
                </h5>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{'allocationManagement.resources.grid.name' | translate }}</label>
                                <input (keydown)="onKeydown($event)" class="form-control" placeholder="{{'allocationManagement.resources.grid.name' | translate }}" type="text" [(ngModel)]="searchModel.name">
                            </div>
                        </div>
                   
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{ 'allocationManagement.analytics.title' | translate }}</label>
                                <ng-select [items]="analytics" bindLabel="text" bindValue="id" [(ngModel)]="searchModel.analyticId" (change)="analyticChanged()"></ng-select>
                            </div>
                        </div>

                        <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">{{'allocationManagement.resources.grid.employeeNumber' | translate }}</label>
                                    <input (keydown)="onKeydown($event)" class="form-control" placeholder="{{'allocationManagement.resources.grid.employeeNumber' | translate }}" type="text" [(ngModel)]="searchModel.employeeNumber">
                                </div>
                            </div>

                        <div class="col-sm-3">
                            <div class="form-group checkbox-center">
                                <icheck [(checked)]="searchModel.unassigned" (checkedChange)="unassignedChanged()">
                                    <label class="control-label">{{ 'allocationManagement.report.grid.unassigned' | translate }}</label> 
                                </icheck>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{'allocationManagement.resources.grid.profile' | translate }}</label>
                                <input (keydown)="onKeydown($event)" class="form-control" placeholder="{{'allocationManagement.resources.grid.profile' | translate }}" type="text" [(ngModel)]="searchModel.profile">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{'allocationManagement.resources.grid.senority' | translate }}</label>
                                <input (keydown)="onKeydown($event)" class="form-control" placeholder="{{'allocationManagement.resources.grid.senority' | translate }}" type="text" [(ngModel)]="searchModel.seniority">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{'allocationManagement.resources.grid.technology' | translate }}</label>
                                <input (keydown)="onKeydown($event)" class="form-control" placeholder="{{'allocationManagement.resources.grid.technology' | translate }}" type="text" [(ngModel)]="searchModel.technology">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="text-right">
                        <button class="btn btn-warning" (click)="clean()"> {{ 'ACTIONS.clean' | translate }} <i class="fa fa-refresh"></i></button>
                        <button class="btn btn-success" (click)="search()" [disabled]="searchDisable()"> {{ 'ACTIONS.search' | translate }} <i class="fa fa-search"></i></button>
                        <button class="btn btn-success" (click)="searchAll()"> {{ 'ACTIONS.searchAll' | translate }} <i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ibox" *ngIf="resources.length > 0"> 
        <div class="ibox-title">
            <div class="ibox-tools">
                <button *ngIf="!areAllSelected()" class="btn btn-success btn-sm pull-left" (click)="selectAll()"> {{ 'ACTIONS.selectAll' | translate }}  <i class="fa fa-check"></i></button>
                <button *ngIf="!areAllUnselected()" class="btn btn-warning btn-sm pull-left" (click)="unselectAll()"> {{ 'ACTIONS.removeAll' | translate }}  <i class="fa fa-times"></i></button>

                <button class="btn btn-primary btn-sm" (click)="allocationsModal.show()" [disabled]="noneResourseSelected()"> Asignar Seleccionados <i class="fa fa-plus"></i></button>
                <button *ngIf="canAddCategories()" class="btn btn-primary btn-sm" (click)="openCategoriesModal()" [disabled]="noneResourseSelected()"> {{'ADMIN.category.add' | translate }} <i class="fa fa-plus"></i></button>
            </div>
        </div>
        <div class="ibox-content">
            <table class="table table-striped full-width" role="grid" id="resourcesTable">
                <thead>
                    <tr>
                        <th class="column-xs"></th>
                        <th>{{'allocationManagement.resources.grid.employeeNumber' | translate }}</th>
                        <th>{{'allocationManagement.resources.grid.name' | translate }}</th>
                        <th>{{'allocationManagement.resources.grid.start' | translate }}</th>
                        <th>{{'allocationManagement.resources.grid.senority' | translate }}</th>
                        <th>{{'allocationManagement.resources.grid.profile' | translate }}</th>
                        <th>{{'allocationManagement.resources.grid.technology' | translate }}</th>
                        <th class="column-sm">{{ 'ACTIONS.title' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let resource of resources" class="pointer">
                        <td class="column-xs text-center">
                            <icheck [(checked)]="resource.selected"></icheck>
                        </td>
                        <td>{{ resource.employeeNumber }}</td>
                        <td>{{ resource.name}}</td>
                        <td>{{ resource.startDate | date:'dd/MM/yyyy' }}</td>
                        <td>{{ resource.senority}}</td>
                        <td>{{ resource.profile}}</td>
                        <td>{{ resource.technology}}</td>
                        <td class="column-sm">
                            <button title="{{'ACTIONS.assign' | translate }}" class="btn btn-primary btn-xs" (click)="goToAssignAnalytics(resource)" *ngIf="menuService.hasFunctionality('ALLOCATION', 'ASSIGN')"><i class="fa fa-user-plus"></i></button>
                            <button title="{{'allocationManagement.resources.profile' | translate }}" class="btn btn-success btn-xs" (click)="goToProfile(resource)" *ngIf="canViewProfile()"><i class="fa fa-eye"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>       
        </div>
    </div>
</div>
 
<ng2-modal [config]="categoriesModalConfig" #categoriesModal (accept)="saveCategories()">
    <div *ngFor="let category of categories; let i = index"  style="margin-top:10px;">
        <icheck [(checked)]="category.selected" >
            <label style="padding-left:20px;">{{ category.text }}</label> 
        </icheck>
    </div>
</ng2-modal>


<ng2-modal [config]="allocationsModalConfig" #allocationsModal (accept)="sendNewAllocations()" [isSaveEnabled]="allocationModel.analyticId > 0">
    <div class="form-group">
        <label class="control-label">{{ 'allocationManagement.analytics.title' | translate }}</label>
        <ng-select [items]="analytics" bindLabel="text" bindValue="id" [(ngModel)]="allocationModel.analyticId"></ng-select>
    </div>

    <div class="form-group">
        <label class="control-label">{{'allocationManagement.allocation.percentage' | translate }}</label>
        <input class="form-control" type="text" [(ngModel)]="allocationModel.percentage" disabled>
    </div>

    <div class="form-group">
        <label class="control-label">{{'allocationManagement.resources.dateFrom' | translate }}</label>
        <date-picker [(date)]="allocationModel.startDate" #dateFrom></date-picker>
    </div>

    <div class="form-group">
        <label class="control-label">{{'allocationManagement.resources.dateTo' | translate }}</label>
        <date-picker [(date)]="allocationModel.endDate" #dateTo></date-picker>
    </div>
</ng2-modal>