<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{ 'ADMIN.ROLES.TITLE' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{ 'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <a>{{ 'ADMIN.TITLE' | translate }}</a>
            </li>
            <li>
                <a [routerLink]="['/admin/roles']">{{ 'ADMIN.ROLES.TITLE' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'ACTIONS.ADD' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ 'ADMIN.ROLES.ADD' | translate }}</h5>

                    <div class="ibox-tools" >
                        
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" #formRef="ngForm" (ngSubmit)="onSubmit(formRef)">

                        <!--Description-->
                        <div class="form-group"><label class="col-lg-2 control-label">{{ 'ADMIN.ROLES.GRID.description' | translate }}</label>
                            <div class="col-lg-10">
                              <input type="text"  
                                  name="description"
                                  class="form-control" 
                                  [(ngModel)]="rol.description"
                                  #descripRef="ngModel"
                                  required> 
                              <div class="help-block m-b-none text-danger" [style.visibility]="(!formRef._submitted || !descripRef?.errors?.required) ? 'hidden' : 'visible' ">{{ 'ADMIN.ROLES.descriptionRequired' | translate }}</div>

                            </div>
                        </div>
                        
                        <div class="col-lg-offset-2">
                            <button class="btn btn-primary" type="submit" [disabled]="formRef.invalid">{{ 'ACTIONS.ACCEPT' | translate }}</button>
                            <a [routerLink]="['/admin/roles']" class="btn btn-success btn-link text-white"><i class="fa fa-arrow-left"></i> {{ 'ACTIONS.back' | translate }} </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

