<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{'workTimeManagement.workTime.title' | translate }}</h2>
        <ol class="breadcrumb no-print">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>{{'workTimeManagement.title' | translate }}</li>
            <li class="active">
                <strong>{{'workTimeManagement.workTime.title' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>
    
<div class="wrapper wrapper-content animated fadeInRight" id="contentWrapper">

    <div class="row">
        <div class="col-md-9">
            <div class="ibox">
                <div class="ibox-title">
                    <h3 class="pull-left">{{ 'workTimeManagement.workTime.calendar' | translate }}</h3>
                    <div class="ibox-tools">
                        <btn-confirm [class]="'btn-primary'" [text]="'workTimeManagement.workTime.sendHours'" [icon]="'fa-arrow-circle-right'" (onConfirm)="sendHours()"></btn-confirm> 
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <button class="btn btn-success" style="width:100%" (click)="showEditModal()"> {{ 'workTimeManagement.workTime.loadNewTask' | translate }} <i class="fa fa-plus-circle"></i></button>

            <hr class="hr-line-dashed">

            <h3 class="text-center">{{ 'workTimeManagement.workTime.taskPreloaded' | translate }}</h3>

            <div class="ibox-task external-events">
                <div id='external-events' *ngFor="let item of recentAnalyticTasks; let i = index; let last = last">
                    <div class="panel-group" id="accordion{{ i }}" (loaded)="taskReady()">
                        <div class="panel panel-default">
                            <div class="panel-heading task-panel-head">
                                <h5 class="panel-title text-ellipsis">
                                    <a data-toggle="collapse" data-parent="#accordion" [href]="'#collapse'+i">{{ item.analytic }}</a>
                                </h5>
                            </div>
                            <div [id]="'collapse'+i" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class='bg-success row task-item-row' *ngFor="let taskItem of item.tasks; let t = index">
                                        <div class='external-event bg-success task-item' 
                                            [attr.data-task]="taskItem.task"
                                            [attr.data-color]="draftTaskColor"
                                            [attr.data-taskId]="taskItem.taskId"
                                            [attr.data-analyticId]="taskItem.analyticId"
                                            [attr.data-hours]="taskItem.hours"
                                            [attr.data-reference]="taskItem.reference"
                                            (click)="showRecentEditModal(taskItem)">
                                            {{ taskItem.task }} - {{ taskItem.hours }} hs
                                        </div>
                                        <a class="task-item-edit" (click)="showRecentEditModal(taskItem)">
                                            <i class="fa fa-edit text-white"></i>
                                        </a>
                                        <a class="task-item-close" (click)="removeTask(taskItem)">
                                            <i class="fa fa-close text-white"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="hr-line-dashed">

            <h3 class="text-center">{{ 'workTimeManagement.workTime.resume' | translate }}</h3>

            <div class="alert alert-info text-center">
                {{ 'workTimeManagement.workTime.periodMessage' | translate }} <strong>{{ periodStartDateText }}</strong> {{ 'date_to' | translate }} <strong>{{ periodEndDateText }}</strong>.
            </div>
        
            <dl class="dl-horizontal hours-resume">
                <dt class="bg-primary">{{ 'workTimeManagement.workTime.approved' | translate }}</dt>
                <dd class="bg-primary">{{ model?.resume?.hoursApproved }} hs</dd>
                <dt class="bg-danger">{{ 'workTimeManagement.workTime.rejected' | translate }}</dt>
                <dd class="bg-danger">{{ model?.resume?.hoursRejected }} hs</dd>
                <dt class="bg-warning">{{ 'workTimeManagement.workTime.pendingToSend' | translate }}</dt>
                <dd class="bg-warning">{{ model?.resume?.hoursPending }} hs</dd>
                <dt class="bg-success">{{ 'workTimeManagement.workTime.pendingToApprove' | translate }}</dt>
                <dd class="bg-success">{{ model?.resume?.hoursPendingApproved }} hs</dd>

                <dt class="bg-white">{{ 'workTimeManagement.workTime.totalResume' | translate }}</dt>
                <dd class="bg-white">{{ model?.resume?.total }} hs</dd>
                <dt class="bg-white">{{ 'workTimeManagement.workTime.workingHours' | translate }}</dt>
                <dd class="bg-white">{{ model?.resume?.businessHours }} hs</dd>
                <dt class="bg-white">{{ 'workTimeManagement.workTime.currentHoursToDate' | translate }}</dt>
                <dd class="bg-white">{{ model?.resume?.hoursUntilToday }} hs</dd>
            </dl>
        </div>
    </div>
</div>

<ng2-modal [config]="editModalConfig" #editModal (accept)="saveTask()" (delete)="deleteTask()">

    <form role="form">
        <select-two [label]="'workTimeManagement.analytic'" [(value)]="taskModel.analyticId" [options]="analytics" (valueChange)="showSaveTask()"></select-two>

        <div class="row" *ngIf="!taskModel.isLicense">
            <div class="col-md-6">
                <select-two [label]="'ADMIN.category.title'" [(value)]="taskModel.categoryId" [options]="categories" (valueChange)="categoryChange()"></select-two>
            </div>
            <div class="col-md-6">
                <select-two [label]="'workTimeManagement.task'" [(value)]="taskModel.taskId" [options]="tasks" (valueChange)="showSaveTask()"></select-two>
            </div>
        </div>

        <div class="row" *ngIf="taskModel.isLicense">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">{{'ADMIN.category.title' | translate }}</label>
                    <p>{{ taskModel.categoryDesc }}</p>
                </div>  
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">{{'workTimeManagement.task' | translate }}</label>
                    <p>{{ taskModel.taskDesc }}</p>
                </div> 
            </div>
        </div>

        <div class="form-group">
            <label>{{'workTimeManagement.reference' | translate }}</label>
            <input class="form-control" name="reference" [(ngModel)]="taskModel.reference" placeholder="{{'workTimeManagement.reference' | translate }}" maxlength="250"/>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{'workTimeManagement.date' | translate }}</label>
                    <date-picker #dateControl [(date)]="taskModel.date" (dateChange)="showSaveTask()"></date-picker>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{'workTimeManagement.hours' | translate }}</label>
                    <input id="hoursControl" type="number" class="form-control" style="text-align: center" name="hours" [(ngModel)]="taskModel.hours"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{'workTimeManagement.comments' | translate }}</label>
            <textarea class="form-control" name="comment" rows="5" [(ngModel)]="taskModel.userComment" placeholder="{{'workTimeManagement.comments' | translate }}" max="500"></textarea>
        </div>
    </form>
</ng2-modal>

<ng2-modal [config]="editRecentTaskModalConfig" #editRecentTaskModal (accept)="saveRecentTask()" size="modal-sm">
    <form role="form">
        <div class="form-group">
            <div class="row">
                <label class="control-label">{{'workTimeManagement.task' | translate }}</label>
                <p>{{ recentTaskModel.taskDesc }}</p>
            </div>
            <div class="row">
                <label>{{'workTimeManagement.hours' | translate }}</label>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <input id="recentHoursControl" type="number" class="form-control" style="text-align: center" name="hours" [(ngModel)]="recentTaskModel.hours">
                </div>
            </div>
        </div>
    </form>
</ng2-modal>
