<button class="btn" (click)="showModal()" [ngClass]="status"> 
    {{ text }} <i class="fa fa-times"></i>
</button>
    
<ng2-modal [config]="rejectModalConfig" #rejectModal (accept)="save()">
    <div class="form-group">
        <label class="control-label">{{'comments' | translate }}</label>
        <textarea class="form-control" name="rejectComments" rows="10" maxlength="400" [(ngModel)]="rejectComments"></textarea>
    </div>
</ng2-modal> 