<div class="middle-box text-center animated fadeInDown">
    <h1><i class="fa fa-ban"></i></h1>

    <h2 class="font-bold">{{'HOME.forbidden' | translate }}</h2>

    <div class="error-desc">
        {{'HOME.forbiddenMessage' | translate }}

        <br>
        <a class="btn btn-primary m-t" [routerLink]="['/']"> {{'HOME.TITLE' | translate }} </a>
    </div>
</div> 

