<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{ 'ADMIN.USERS.TITLE' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{ 'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <a>{{ 'ADMIN.TITLE' | translate }}</a>
            </li>
            <li>
                <a [routerLink]="['../../']">{{ 'ADMIN.USERS.TITLE' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'ADMIN.USERS.detail' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h3 class="pull-left">{{ 'ADMIN.USERS.userDetail' | translate }}</h3>
                    
                    <div class="ibox-tools" >
                        <a [routerLink]="['/admin/users']" class="btn btn-success btn-link text-white"><i class="fa fa-arrow-left"></i> {{ 'ACTIONS.back' | translate }} </a>
                        <a (click)="openEmployeeModal()" class="btn btn-warning btn-link text-white">
                            <i class="fa fa-pencil"></i> {{ 'ACTIONS.EDIT' | translate }} 
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <dl class="dl-horizontal">
                                <dt>{{ 'ADMIN.USERS.name' | translate }}:</dt>
                                <dd>{{user.name}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>{{ 'ADMIN.USERS.user' | translate }}:</dt>
                                <dd>{{user.userName}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>{{ 'ADMIN.USERS.mail' | translate }}:</dt>
                                <dd>{{user.email}}</dd>
                            </dl>
                                <dl class="dl-horizontal">
                                <dt>{{ 'ADMIN.USERS.status' | translate }}:</dt>
                                <dd>
                                    <span *ngIf="user.active == true" class="label label-primary">{{ 'ADMIN.active' | translate }}</span>
                                    <span *ngIf="user.active == false" class="label label-danger">{{ 'ADMIN.inactive' | translate }}</span>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-lg-6" *ngIf="user">
                            <dl class="dl-horizontal" *ngIf="user.roles">
                                <dt>{{ 'ADMIN.ROLES.TITLE' | translate }} :</dt>
                                <dd>{{user.roles.length}}</dd>
                            </dl>
                            <dl class="dl-horizontal" *ngIf="user.modules">
                                <dt>{{ 'ADMIN.module.title' | translate }} :</dt>
                                <dd>{{user.modules.length}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    <!--MODULES-->
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-info-circle"></i> {{ 'ADMIN.module.title' | translate }}
                </div>
                <div class="panel-body">
                    <div class="scroll">
                        <div class="dd">
                            <ol class="dd-list">
                                <li *ngFor="let m of user.modules" class="dd-item">
                                    <div class="dd-handle">
                                        {{m.description}}
                                    </div>
                                    
                                    <ol class="dd-list">
                                        <li *ngFor="let f of m.functionalities" class="dd-item">
                                            <div class="dd-handle">
                                                {{f.text}}
                                            </div>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ROLES -->
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-info-circle"></i> {{ 'ADMIN.ROLES.TITLE' | translate }}
                    <a class="pull-right" *ngIf="canAddRole()" [hidden]="rolesToAdd.length == 0" (click)="modalRoles.show()"><i class="fa fa-plus icon-white" ></i></a>
                </div>
                <div class="panel-body">
                    <div class="scroll">
                        <ul class="todo-list m-t small-list">
                            <li *ngFor="let role of user.roles">
                                <span [routerLink]="['/admin/roles/edit', role.id]" class="m-l-xs pointer">{{role.text}}</span>
                                <a class="pull-right" (click)="openConfirmModal(role.id)"><i class="check-link fa fa-times icon-danger"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng2-modal [config]="modalConfig"  #modalRoles (accept)="assignRoles()">

    <h4>{{ 'ADMIN.USERS.selectGroups' | translate }}</h4>

    <div class="scroll">
        <div *ngFor="let g of rolesToAdd; let i = index"  style="margin-top:10px;">
            <icheck  [checkAtLeft]="checkAtLeft" [(checked)]="rolesToAdd[i].included" >
                <label style="padding-left:20px;">{{g.text}}</label> 
            </icheck>
        </div>
    </div>

</ng2-modal>

<ng2-modal [config]="confirmModalConfig"  #confirmModal (accept)="unassignRole()">
    {{ 'ADMIN.USERS.deleteGroup' | translate }}
</ng2-modal>
 
<ng2-modal [config]="employeeModalConfig"  #employeeModal (accept)="updateEmployee()">
        <employee-form #employeeDetail (notifyEmployeeName)="updateName($event)"></employee-form>
</ng2-modal>