<div class="contenedorgeneral text-center animated fadeInDown">
    <div class="contenedorLogin">
        <img src="assets/images/gaps.png"/>

        <div class="bienvenidos">Bienvenido a Gaps</div>

        <form role="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" class="form-control" name="username" [(ngModel)]="model.username" placeholder="{{'HOME.user' | translate }}" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" [(ngModel)]="model.password" placeholder="{{'HOME.password' | translate }}" required="">
            </div>
            <button type="submit" [ladda]="loading" class="btn btn-success block full-width m-b">{{'HOME.login' | translate }}</button>
        </form>

        <div class="support"><strong>Soporte</strong>: <a href="mailto:{{supportMail}}">{{ supportMail }}</a></div>
    </div>
</div>

