.active {
    .tab-warning {
        border-color: #f8ac59!important;
        background-color: #fff;
        border: 1px solid transparent;
        border-top: 1px solid transparent!important;
        border-top-color: #f8ac59!important;
    }
    
    .tab-primary {
        border-color: #1ab394!important;
        background-color: #fff;
        border: 1px solid transparent;
        border-top: 1px solid transparent!important;
        border-top-color: #1ab394!important;
    }
    
    .tab-link-warning {
        background-color: #f8ac59!important;
        color: white!important;
    }
    
    .tab-link-primary {
        background-color: #1ab394!important;
        color: white!important;
    }
}

.action-buttons {
    display: inline-flex;
    margin-top: 24px;
}

.font-11 {
    font-size: 11px;
}

.font-9 {
    font-size: 9px;
}

.pre-clear {
    padding: 0px;
    border: none;
    margin: 0px;
}