<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> {{'workTimeManagement.approvalHours' | translate }} </h2>

        <ol class="breadcrumb">
            <li><a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a></li>
            <li>{{'workTimeManagement.title' | translate }}</li>
            <li class="active"><strong> {{'workTimeManagement.approval' | translate }} </strong></li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a class="tab-link-warning" data-toggle="tab" href="#tab-1"> {{'workTimeManagement.hoursPending' | translate }} </a></li>
            <li class=""><a class="tab-link-primary" data-toggle="tab" href="#tab-2"> {{'workTimeManagement.hoursApproved' | translate }} </a></li>
        </ul>

        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body tab-warning">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{'allocationManagement.analytics.title' | translate }}</label>
                                <ng-select [items]="analytics" bindLabel="text" bindValue="id" [(ngModel)]="analyticId" (change)="setEmployees()"></ng-select>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Recursos</label>
                                <ng-select [items]="employees" bindLabel="text" bindValue="id" [(ngModel)]="employeeId"></ng-select>
                            </div>
                        </div> 

                        <div class="col-sm-4 action-buttons">
                            <button class="btn btn-warning btn-sm m-r-xs" (click)="clean()"> {{ 'ACTIONS.clean' | translate }} <i class="fa fa-refresh"></i></button>
                            <button class="btn btn-success btn-sm m-r-xs" (click)="searchPending()"> {{ 'ACTIONS.search' | translate }} <i class="fa fa-search"></i></button>
                        </div>
                    </div>

                    <hr class="hr-line-dashed" *ngIf="hoursPending.length > 0">

                    <div class="row m-b-md" *ngIf="hoursPending.length > 0">
                        <div class="col-lg-12">
                            <button *ngIf="!areAllSelected()" class="btn btn-success btn-sm" (click)="selectAll()"> {{ 'ACTIONS.selectAll' | translate }}  <i class="fa fa-check"></i></button>
                            <button *ngIf="!areAllUnselected()" class="btn btn-warning btn-sm" (click)="unselectAll()"> {{ 'ACTIONS.removeAll' | translate }}  <i class="fa fa-times"></i></button>

                            <div class="btn-right">
                                <button class="btn btn-danger btn-sm" (click)="rejectAllModal.show()" [disabled]="approveAllDisabled()"> {{ 'ACTIONS.rejectSelected' | translate }} <i class="fa fa-times"></i></button>
                                <button class="btn btn-primary btn-sm" (click)="approveAll()" [disabled]="approveAllDisabled()"> {{ 'ACTIONS.approveSelected' | translate }} <i class="fa fa-check"></i></button>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped" id="hoursPending" width="100%" *ngIf="hoursPending.length > 0">
                        <thead>
                            <tr>
                                <th class="column-xs"></th>
                                <th class="column-xlg"> Contrato </th>
                                <th class="column-sm"> {{'workTimeManagement.employeeNumber' | translate }} </th>
                                <th class="column-xlg"> {{'workTimeManagement.employee' | translate }} </th>
                                <th class="column-md"> {{'workTimeManagement.task' | translate }} </th>
                                <th class="column-md"> {{'workTimeManagement.status' | translate }} </th>
                                <th class="column-sm"> {{'workTimeManagement.date' | translate }} </th>
                                <th class="column-sm text-center"> {{'workTimeManagement.hours' | translate }} </th>
                                <th class="column-xs text-center"> {{'workTimeManagement.comments' | translate }} </th>
                                <th class="column-xs text-center"> {{'ACTIONS.title' | translate }} </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of hoursPending; let i = index">
                                <td class="column-xs text-center">
                                    <pcheck [(checked)]="item.selected"></pcheck>
                                </td>
                                <td class="column-xlg">{{ item.analytic }}</td>
                                <td class="column-sm">{{ item.employeeNumber }}</td>
                                <td class="column-xlg">{{ item.employee }}</td>
                                <td class="column-md">{{ item.task }}</td>
                                <td class="column-md"> <label class="label label-success font-9">{{ item.status | translate }}</label></td>
                                <td class="column-sm">{{ item.date | date:'dd/MM/yyyy' }}</td>
                                <td class="column-sm text-center">{{ item.hours }}</td>
                                <td class="column-xs text-center">
                                    <button *ngIf="item.comments" (click)="showComments(item)" class="btn btn-info btn-sm" type="button"><i class="fa fa-comments"></i> </button>
                                </td>
                                <td class="column-xs text-center"> 
                                    <a *ngIf="approveAllDisabled()" title="{{ 'ACTIONS.approve' | translate }}"><i class="fa fa-thumbs-o-up fa-2x pointer" (click)="showApproveModal(item, i)"></i> </a>
                                    <a *ngIf="approveAllDisabled()" title="{{ 'ACTIONS.reject' | translate }}"><i class="fa fa-thumbs-o-down fa-2x pointer" (click)="showRejectModal(item, i)"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>  
                </div>
            </div> 

            <div id="tab-2" class="tab-pane">
                <div class="panel-body tab-primary">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{'allocationManagement.analytics.title' | translate }}</label>
                                <ng-select [items]="analytics" bindLabel="text" bindValue="id" [(ngModel)]="analyticId" (change)="setEmployees()"></ng-select>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Recursos</label>
                                <ng-select [items]="employees" bindLabel="text" bindValue="id" [(ngModel)]="employeeId"></ng-select>
                            </div>
                        </div> 
                    
                        <div class="col-sm-2 action-buttons">
                            <button class="btn btn-warning btn-sm m-r-xs" (click)="clean()"> {{ 'ACTIONS.clean' | translate }} <i class="fa fa-refresh"></i></button>
                            <button class="btn btn-success btn-sm" (click)="search()"> {{ 'ACTIONS.search' | translate }} <i class="fa fa-search"></i></button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <br>
                            <icheck [(checked)]="filterByDates">
                                <label class="control-label">{{'filterByDates' | translate }}</label> 
                            </icheck>
                        </div>
                        <div class="col-sm-4" *ngIf="filterByDates">
                            <label class="control-label">{{'report.dateRange' | translate }}</label>
                            <date-range-picker [datePickerOptionRange]="'previous'" #dateRangePicker></date-range-picker>
                        </div>
                    </div>

                    <hr class="hr-line-dashed">

                    <table class="table table-striped" id="hoursApproved" width="100%" *ngIf="hoursApproved.length > 0">
                        <thead>
                            <tr>
                                <th class="column-xlg"> {{'workTimeManagement.analytic' | translate }} </th>
                                <th class="column-sm"> {{'workTimeManagement.employeeNumber' | translate }} </th>
                                <th class="column-xlg"> {{'workTimeManagement.employee' | translate }} </th>
                                <th class="column-md"> {{'workTimeManagement.task' | translate }} </th>
                                <th class="column-sm"> {{'workTimeManagement.date' | translate }} </th>
                                <th class="column-xs text-center"> {{'workTimeManagement.hours' | translate }} </th>
                                <th class="column-xs text-center"> {{'workTimeManagement.comments' | translate }} </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of hoursApproved">
                                <td class="column-xlg">{{ item.analytic }}</td>
                                <td class="column-sm">{{ item.employeeNumber }}</td>
                                <td class="column-xlg">{{ item.employee }}</td>
                                <td class="column-md">{{ item.task }}</td>
                                <td class="column-sm">{{ item.date | date:'dd/MM/yyyy' }}</td>
                                <td class="column-xs text-center">{{ item.hours }} hs</td>
                                <td class="column-xs text-center">
                                    <button *ngIf="item.comments" (click)="showComments(item)" class="btn btn-info btn-sm" type="button"><i class="fa fa-comments"></i> </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>   
                </div>
            </div>
        </div>
    </div>
</div>

<ng2-modal [config]="commentsModalConfig" #commentsModal>
    <pre class="pre-clear">{{ comments }}</pre>
</ng2-modal>

<worktime-status-approve #statusApprove (onSuccess)="removeItem()"></worktime-status-approve>
<worktime-status-reject #statusReject (onSuccess)="removeItem()"></worktime-status-reject>

<ng2-modal [config]="rejectAllModalConfig" #rejectAllModal (accept)="rejectAll()">
    <div class="form-group">
        <label class="control-label">{{'comments' | translate }}</label>
        <textarea class="form-control" name="rejectComments" rows="6" [(ngModel)]="rejectComments"></textarea>
    </div>
</ng2-modal> 