<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> {{ 'allocationManagement.resources.listTitleInactives' | translate }} </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                {{'allocationManagement.title' | translate }}
            </li>
            <li class="active">
                <strong> {{'allocationManagement.resources.title' | translate }} </strong>
            </li>
        </ol>
    </div>
</div>
    
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="panel-group" id="accordion">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" (click)="changeIcon()" style="display: block">
                        <span>{{'allocationManagement.resources.search' | translate }}</span>
                        <i id="search-icon" class="fa fa-caret-up fa-2x pull-right" style="line-height: 0.7"></i>
                    </a>
                </h5>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{'allocationManagement.resources.dateFrom' | translate }}</label>
                                <date-picker [(date)]="searchModel.startDate"></date-picker>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{'allocationManagement.resources.dateTo' | translate }}</label>
                                <date-picker [(date)]="searchModel.endDate"></date-picker>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{'allocationManagement.resources.grid.name' | translate }}</label>
                                <input class="form-control" placeholder="{{'allocationManagement.resources.grid.name' | translate }}" type="text" [(ngModel)]="searchModel.name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="text-right">
                        <button class="btn btn-warning" (click)="clean()"> {{ 'ACTIONS.clean' | translate }} <i class="fa fa-refresh"></i></button>
                        <button class="btn btn-success" (click)="search()" > {{ 'ACTIONS.search' | translate }} <i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ibox" *ngIf="gridIsVisible"> 
        <div class="ibox-content">
            <table class="table table-striped dataTable" role="grid" id="resourcesTable">
                <thead>
                    <tr>
                        <th>{{'allocationManagement.resources.grid.name' | translate }}</th>
                        <th class="column-sm">{{'allocationManagement.resources.startDate' | translate }}</th>
                        <th class="column-sm">{{'allocationManagement.resources.endDate' | translate }}</th>
                        <th class="column-sm">{{'allocationManagement.resources.reason' | translate }}</th>
                        <th class="column-xs">{{'allocationManagement.resources.comments' | translate }}</th>
                        <th class="column-sm text-center">{{ 'ACTIONS.title' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let resource of resources">
                        <td>{{ resource.employeeNumber }} - {{ resource.name}}</td>
                        <td class="column-sm">{{ resource.startDate | date:'dd/MM/yyyy' }}</td>
                        <td class="column-sm"> {{ resource.endDate | date:'dd/MM/yyyy' }}</td>
                        <td class="column-sm">{{ resource.endReasonType}}</td>
                        <td class="column-xs"><button *ngIf="resource.endReasonComments" (click)="showComments(resource)" class="btn btn-info btn-sm" type="button"><i class="fa fa-comments"></i> </button></td>
                        <td class="column-sm text-center">
                            <button title="{{'allocationManagement.resources.profile' | translate }}" class="btn btn-success btn-xs" (click)="goToProfile(resource)"><i class="fa fa-eye"></i></button>
                        </td>
                    </tr> 
                </tbody>
            </table>       
        </div>
    </div>
</div>

<ng2-modal [config]="commentsModalConfig" #commentsModal>
    <pre class="pre-clear">{{ comments }}</pre>
</ng2-modal>