<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> {{'allocationManagement.resources.profile' | translate }} </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                {{'allocationManagement.title' | translate }}
            </li>
            <li class="active">
                <strong> {{'allocationManagement.resources.title' | translate }} </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row m-b-md m-t-md">
        <div class="col-md-12">
            <div class="profile-image">
                <img src="assets/images/user_default_m.png" class="img-circle circle-border m-b-md">
            </div>
            <div class="profile-info">
                <h1 class="no-margins text-green"> {{ model?.name }} </h1>

                <h4 class="m-t-md">{{ model?.profile }}</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-font-md">
                <tbody>
                    <tr>
                        <td><strong><i class="fa fa-calendar"></i> {{'allocationManagement.resources.grid.start' | translate }}:</strong> {{ model?.startDate | date:'dd/MM/yyyy' }}</td>
                        <td><strong><i class="fa fa-star"></i> {{'allocationManagement.resources.grid.senority' | translate }}: </strong> {{ model?.seniority }} </td>
                    </tr>
                    <tr>
                        <td><strong><i class="fa fa-address-card"></i> {{'allocationManagement.resources.grid.employeeNumber' | translate }}: </strong> {{ model?.employeeNumber }} </td>
                        <td><strong><i class="fa fa-cog"></i> {{'allocationManagement.resources.grid.technology' | translate }}: </strong> {{ model?.technology }} </td>
                    </tr>
                    <tr>
                        <td><strong><i class="fa fa-building"></i> {{'allocationManagement.resources.grid.office' | translate }}: </strong> {{ model?.officeAddress }}</td>
                        <td><strong><i class="fa fa-percent"></i> {{'allocationManagement.resources.grid.percentage' | translate }}: </strong> {{ model?.percentage }}% </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1"> {{'allocationManagement.resources.generalInfo' | translate }} </a></li>
                    <li class=""><a data-toggle="tab" href="#tab-2"> {{'allocationManagement.resources.allocations' | translate }} </a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3"> {{ 'ADMIN.task.title' | translate }} </a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <div class="col-md-6">
                                <dl class="dl-horizontal">
                                    <dt>{{'allocationManagement.resources.address' | translate }}</dt>
                                    <dd class="text-ellipsis">{{ model?.address }}</dd>

                                    <dt>{{'allocationManagement.resources.location' | translate }}</dt>
                                    <dd class="text-ellipsis">{{ model?.location }}</dd>

                                    <dt>{{'allocationManagement.resources.province' | translate }}</dt>
                                    <dd class="text-ellipsis">{{ model?.province }}</dd>

                                    <dt>{{'allocationManagement.resources.businessHours' | translate }}</dt>
                                    <dd class="text-ellipsis">{{ model?.businessHours }} hs</dd>

                                    <dt>{{'allocationManagement.resources.businessHoursDescription' | translate }}</dt>
                                    <dd class="text-ellipsis">{{ model?.businessHoursDescription }}</dd>
                                </dl>
                            </div>
                            <div class="col-md-6">
                                <dl class="dl-horizontal">
                                    <dt>{{'allocationManagement.resources.cuil' | translate }}</dt>
                                    <dd class="text-ellipsis">{{ model?.cuil }}</dd>
    
                                    <dt>{{'allocationManagement.resources.phone' | translate }}</dt>
                                    <dd class="text-ellipsis">{{ getFormattedPhone() }}</dd>

                                    <dt>{{'allocationManagement.resources.document' | translate }}</dt>
                                    <dd class="text-ellipsis">{{ model?.documentNumber }}</dd>

                                    <dt>{{'allocationManagement.resources.grid.birthday' | translate }}</dt>
                                    <dd class="text-ellipsis">{{ model?.birthday | date:'dd/MM/yyyy' }}</dd>

                                    <dt> {{ 'allocationManagement.resources.grid.email' | translate }}</dt>
                                    <dd class="text-ellipsis">{{ model?.email }}</dd>

                                </dl>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <table class="table table-striped dataTable" role="grid" id="analyticsTable">
                                <thead>
                                    <tr>
                                        <th>{{ 'allocationManagement.analytics.grid.title' | translate }}</th>
                                        <th>{{ 'allocationManagement.analytics.grid.name' | translate }}</th>
                                        <th>{{ 'allocationManagement.analytics.grid.client' | translate }}</th>
                                        <th>{{ 'allocationManagement.analytics.grid.allocationPercentage' | translate }}</th>
                                        <th>{{ 'allocationManagement.resources.grid.startDate' | translate }}</th>
                                        <th>{{'allocationManagement.resources.grid.releaseDate' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let allocation of model?.allocations">
                                        <td> {{ allocation.title }} </td>
                                        <td> {{ allocation.name }} </td>
                                        <td> {{ allocation.client }} </td>
                                        <td> {{ allocation.allocationPercentage }} % </td>
                                        <td> {{ allocation.startDate | date:'dd/MM/yyyy' }} </td>
                                        <td> {{ allocation.releaseDate | date:'dd/MM/yyyy' }} </td>
                                    </tr>
                                </tbody>
                            </table>    
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <table class="table table-striped dataTable" role="grid" id="tasksTable">
                                <thead>
                                    <tr>
                                        <th>{{ 'ADMIN.task.category' | translate }}</th>
                                        <th>{{ 'ADMIN.task.task' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of tasks">
                                        <td> {{ item.category }} </td>
                                        <td> {{ item.task }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<ng2-modal [config]="businessHoursModalConfig" #businessHoursModal (accept)="update()">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">{{'allocationManagement.resources.businessHours' | translate }} </label>
                <input class="form-control" type="number" min="1" max="8" [(ngModel)]="editModel.businessHours" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">{{'rrhh.license.holidaysPendingByLaw' | translate }} </label>
                <input class="form-control" type="number" min="1" max="1000" [(ngModel)]="editModel.holidaysPending" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">{{'allocationManagement.report.grid.billeability' | translate }}: </label>
        <input class="form-control" type="text" [(ngModel)]="editModel.billingPercentage" />
    </div>

    <div class="form-group">
        <label class="control-label">{{'allocationManagement.resources.businessHoursDescription' | translate }} </label>
        <input class="form-control" type="text" [(ngModel)]="editModel.businessHoursDescription" placeholder="09.00 hs a 18.00 hs" />
    </div>

    <div class="form-group">
        <label class="control-label">{{'allocationManagement.resources.grid.office' | translate }}: </label>
        <input class="form-control" type="text" [(ngModel)]="editModel.office" />
    </div>

    <div class="form-group">
        <label class="control-label">{{ 'allocationManagement.resources.manager' | translate }}</label>
        <ng-select [items]="managers" bindLabel="text" bindValue="id" [(ngModel)]="editModel.managerId"></ng-select>
    </div>

    <div class="form-group">
        <icheck [(checked)]="editModel.hasCreditCard" >
            <label style="padding-left:20px;">{{ 'allocationManagement.resources.hasCreditCard' | translate }}</label> 
        </icheck>
    </div>
</ng2-modal>  