<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{'ADMIN.settings.title' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <a>{{'ADMIN.SHORT_TITLE' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{'ADMIN.settings.title' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ 'ADMIN.settings.title' | translate }}</h5>
                    <div class="ibox-tools">
                        <button type="button" class="btn btn-primary" [disabled]="loading"
                            (click)="save()"> {{ 'ACTIONS.save' | translate }} <i class="fa fa-save"></i>
                        </button>
                    </div>
                </div>
                <div class="ibox-content" [ngClass]="(loading)?'sk-loading':''">
                    <spinner></spinner>
                    <div class="form-group" *ngFor="let item of settings; let dataIndex = index">
                        <label for="example-text-input" class="control-label">{{ 'ADMIN.settings.'+item.key | translate }}</label>
                        <input class="form-control" [type]="item.type" [(ngModel)]="item.value" min="0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
