<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2 class="text-ellipsis"> {{ form.model.title }} - {{ form.model.name }} </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                {{'contracts.title' | translate }}
            </li>
            <li>
                {{'allocationManagement.analytics.title' | translate }}
            </li>
            <li class="active">
                <strong> {{ 'allocationManagement.analytics.edit' | translate }} </strong>
            </li>
        </ol>
    </div>
</div>
 
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-success btn-outline dim" (click)="back()"> <i class="fa fa-arrow-left"></i> {{ 'ACTIONS.back' | translate }} </button>

            <div class="btn-right">

                <button class="btn btn-warning btn-outline dim" (click)="openForClose()" *ngIf="canClose()"> 
                    {{ 'allocationManagement.analytics.close' | translate }} <i class="fa fa-times-circle"></i> 
                </button>

                <button class="btn btn-warning btn-outline dim" (click)="openForCloseForExpenses()" *ngIf="canForCloseForExpenses()"> 
                    {{ 'allocationManagement.analytics.closeForExpenses' | translate }} <i class="fa fa-times-circle"></i> 
                </button>
 
                <button (click)="edit()" class="btn btn-primary btn-outline dim" *ngIf="form.model.status != 2">
                    {{'ACTIONS.update' | translate }} <i class="fa fa-save"></i> 
                </button>
            </div>
        </div>
    </div>

    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <!-- <div class="m-b-md">
                <label class="label label-primary analitycStatus">{{'allocationManagement.analytics.grid.status' | translate }}: {{ getStatus() }}</label> 
            </div> -->

            <analytic-form #form [mode]="'edit'"></analytic-form>
        </div>
    </div>
</div>

<ng2-modal [config]="confirmModalConfig" #confirmModal (accept)="close()">
    <h4>{{ 'ACTIONS.confirmBody' | translate }}</h4>
</ng2-modal>