<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2><i class="fa fa-user text-green"></i> {{ resource?.employeeNumber }} - {{ resource?.name }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
                </li>
                <li>
                    {{'allocationManagement.title' | translate }}
                </li>
                <li>
                    <a [routerLink]="['/allocationManagement/resources']"> {{ 'allocationManagement.resources.title' | translate }} </a>
                </li>
                <li class="active">
                    <strong> {{ 'allocationManagement.allocation.assignAnalytic' | translate }} </strong>
                </li>
            </ol>
        </div>
    </div>
 
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label"> {{ 'allocationManagement.analytics.title' | translate }} </label>
                            <select select2 class="form-control" id="analyticId">
                                <option *ngFor="let analytic of analytics" [value]="analytic?.id">{{analytic?.text}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary pointer btn-sm m-t-md btn-width-100" (click)="add()"> {{ 'ACTIONS.ADD' | translate }} <i class="fa fa-plus" ></i></a>
                    </div>
                    <div class="col-md-2 border-left">
                        <div class="form-group">
                            <label class="control-label">Fecha desde</label>
                            <date-picker [(date)]="dateSince"></date-picker>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label"> {{ 'allocationManagement.allocation.monthQuantity' | translate }} </label>
                            <input type="number" myNumberOnly min="1" max="36" class="form-control input-sm" [(ngModel)]="monthQuantity">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary pointer btn-sm m-t-md btn-width-100" (click)="search()"> {{ 'ACTIONS.changeDates' | translate }} <i class="fa fa-refresh" ></i></a>
                    </div>
                </div>
            </div>
        </div>

        <allocation-assignment-table [resourceId]="resourceId" [monthQuantity]="monthQuantity" #allocations></allocation-assignment-table> 
    </div>
    