<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{'ADMIN.module.title' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <a>{{'ADMIN.SHORT_TITLE' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{'ADMIN.module.title' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{'ADMIN.module.management' | translate }}</h5>
                </div>
                <div class="ibox-content" *ngIf="data != null && options != null">
                    <datatables #dt
                      [data] = "data" 
                      [columns]="columns" 
                      [editionType]=editionType
                      [options]=options
                      [locationTexts]=locationTexts
                      (habInhab) = "habInhab($event)"
                      (edit) = "editClick($event)"
                      module="MODULE"
                      ></datatables>
                </div>
            </div>
        </div>
    </div>
</div>

