<div class="middle-box text-center animated fadeInDown">
    <h1><i class="fa fa-exclamation-circle "></i></h1>

    <h2 class="font-bold">Pagina no encontrada</h2>

    <div class="error-desc">
        Lo sentimos, pero la pagina que usted esta buscando no fue encontrada. Trate verificando la URL si contiene algun error

        <br>
        <a class="btn btn-primary m-t" [routerLink]="['/']"> {{'HOME.TITLE' | translate }} </a>
    </div>
</div> 

