<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> Delegaciones </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li class="active">
                <strong> Delegaciones </strong>
            </li>
        </ol>
    </div>
</div>
    
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox"> 
        <div class="ibox-content">
            <div class="row"> 
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Permiso</label>
                        <ng-select [items]="types" bindLabel="text" bindValue="id" [(ngModel)]="typeId"></ng-select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Usuario a delegar</label>
                        <ng-select [items]="users" bindLabel="text" bindValue="id" [(ngModel)]="grantedUserId"></ng-select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <h4 class="control-label">Permisos sobre</h4>
                        <!-- <div class="radio radio-success radio-inline">
                            <input value="1" type="radio" [(ngModel)]="sourceType">
                            <label> Todo </label>
                        </div>  -->
                    
                        <div class="radio radio-success radio-inline">
                            <input value="2" type="radio" [(ngModel)]="sourceType">
                            <label> Contratos </label>
                        </div>
            
                        <div class="radio radio-success radio-inline">
                            <input value="3" type="radio" [(ngModel)]="sourceType">
                            <label> Recursos </label>
                        </div>
                    </div> 
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Contrato</label>
                        <ng-select [items]="analytics" bindLabel="text" bindValue="id" [(ngModel)]="analyticSourceId" (change)="setEmployees()"></ng-select>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="sourceType == 3">
                    <div class="form-group">
                        <label class="control-label">Recurso</label>
                        <ng-select [items]="resources" bindLabel="text" bindValue="id" [(ngModel)]="userSourceId"></ng-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-footer text-right">
            <button [disabled]="!saveEnabled()" class="btn btn-primary" (click)="save()"> Guardar <i class="fa fa-save"></i></button>
        </div>
    </div>

    <div class="ibox" *ngIf="data && data.length > 0"> 
        <div class="ibox-content">
            <table class="table table-striped dataTable" role="grid" id="dataTable">
                <thead>
                    <tr>
                        <th>Permiso otorgado a</th>
                        <th>Tipo de permiso</th>
                        <th>Permiso sobre contrato</th>
                        <th>Permiso sobre recurso</th>
                        <th>Fecha creación</th>
                        <th class="column-sm text-center">{{ 'ACTIONS.title' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td>{{ item.grantedUserName }} </td>
                        <td>{{ item.typeDescription | translate }} </td>
                        <td>{{ item.analyticSourceName | translate }} </td>
                        <td>{{ item.userSourceName | translate }} </td>
                        <td>{{ item.created | date: 'dd/MM/yyyy' }} </td>
                        <td class="column-sm text-center">
                            <button title="eliminar" class="btn btn-danger btn-xs" (click)="delete(item)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr> 
                </tbody>
            </table>       
        </div>
    </div>
</div>