<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> {{ 'allocationManagement.resources.listTitle' | translate }} </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                {{'contracts.title' | translate }}
            </li>
            <li>
                {{ analyticName }}
            </li>
            <li class="active">
                <strong> {{'allocationManagement.resources.title' | translate }} </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="alert alert-info" *ngIf="resources && resources.length == 0">
        {{'allocationManagement.resources.empty' | translate }}
    </div>

    <div class="row">
        <div class="col-sm-4" *ngFor="let resource of resources">
            <div class="contact-box">
                <div class="contact-info">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="text-center">
                                <i class="fa fa-user fa-3x"></i>
                                <div class="m-t-xs font-bold">{{ resource.senority }}</div>
                                <div><label class="label label-info">{{ resource.percentage }}%</label></div>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <h3><strong>{{ resource.name }}</strong></h3>
                            <div class="resource-data">
                                <div>{{'allocationManagement.resources.grid.employeeNumber' | translate }}: {{ resource.employeeNumber }}</div>
                                <div>{{ resource.profile }}</div>
                                <div>{{ resource.technology }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-buttons text-center">
                    <a class="btn btn-primary btn-sm m-t-xs m-r-xs" (click)="goToAssignAnalytics(resource)" title="{{'ACTIONS.assign' | translate }}"><i class="fa fa-user-plus"></i></a>
                    <a class="btn btn-success btn-sm m-t-xs m-r-xs" (click)="goToProfile(resource)" *ngIf="canViewProfile()" title="{{'allocationManagement.resources.profile' | translate }}"><i class="fa fa-eye"></i></a>
                    <a class="btn btn-warning btn-sm m-t-xs m-r-xs" (click)="openCategoryModal(resource)" title="{{'ADMIN.category.add' | translate }}"><i class="fa fa-tasks"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<ng2-modal [config]="categoriesModalConfig" #categoriesModal (accept)="saveCategories()">
    <div class="alert alert-warning">
        {{'ADMIN.category.areYouSureAdd' | translate }}
    </div>

    <div *ngFor="let category of categories; let i = index"  style="margin-top:10px;">
        <icheck [(checked)]="category.selected" >
            <label style="padding-left:20px;">{{ category.text }}</label> 
        </icheck>
    </div>
</ng2-modal>