.dl-horizontal dt {
    margin:0px;
    padding-right: 10px;
    padding-top: 10px;
}

.dl-horizontal dd {
    border-bottom: 1px solid #efefef;
    margin:0px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.img-circle {
    border: 6px solid #1ab394;
}

.profile-image img {
    width: 120px;
    height: 120px;
}

.phone-country-code {
   padding-right: 0px;    
}
.phone-area-code {
   padding-right: 4px;
   padding-left: 4px;
}
.phone-number {
   padding-left: 0px;
}

.error-phone{
    padding: 14px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }