<div class="row">
    <div class="col-sm-12">
        <div class="tabs-container">
            <ul class="nav nav-tabs" id="tabsEmployee">
                <li class="active" id="li-1"><a data-toggle="tab" href="#tab-1">
                        {{'allocationManagement.resources.generalInfo' | translate }} </a></li>
                <li class=""><a data-toggle="tab" href="#tab-2">
                        {{'allocationManagement.resources.aditionalInfo' | translate }} </a></li>
            </ul>
            <div class="tab-content" id="contentEmployee">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <form class="form-horizontal" [formGroup]="employeeForm">

                            <div class="col-md-6">

                                <div class="form-group" [ngClass]="{'has-error': formErrors.name}">
                                    <label class="col-sm-3 control-label">
                                        {{ 'allocationManagement.resources.grid.name' | translate }}
                                    </label>
                                    <div class="col-sm-9">
                                        <input formControlName="name" (blur)="logValidationErrors()" type="text"
                                            class="form-control" maxlength="100">
                                        <span class="help-block" *ngIf="formErrors.name">
                                            {{formErrors.name}}
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {{ 'allocationManagement.resources.user' | translate }}
                                    </label>
                                    <div class="col-sm-9">
                                        <input formControlName="userName" type="text" class="form-control" name="user">
                                    </div>
                                </div>

                                <div class="form-group"
                                    [ngClass]="{'has-error': (formErrors.phoneCountryCode || formErrors.phoneAreaCode || formErrors.phoneNumber)}">
                                    <label class="col-sm-3 control-label">
                                        {{ 'allocationManagement.resources.phone' | translate }}
                                    </label>
                                    <div class="col-xs-2 phone-country-code">
                                        <input formControlName="phoneCountryCode" (blur)="logValidationErrors()"
                                            type="text" myNumberOnly maxlength="3" class="form-control" placeholder="54">
                                        <small class="help-block">cod. país</small>
                                    </div>
                                    <div class="col-xs-3 phone-area-code">
                                        <input formControlName="phoneAreaCode" (blur)="logValidationErrors()"
                                            type="text" myNumberOnly maxlength="5" class="form-control" placeholder="011">
                                        <small class="help-block">cod. area</small>
                                    </div>
                                    <div class="col-xs-4 phone-number">
                                        <input formControlName="phoneNumber" (blur)="logValidationErrors()"
                                            type="text" myNumberOnly maxlength="8" class="form-control" placeholder="49887755">
                                            <small class="help-block">numero telefono</small>
                                    </div>
                                    <span class="col-sm-offset-3 help-block error-phone"
                                        *ngIf="(formErrors.phoneCountryCode || formErrors.phoneAreaCode || formErrors.phoneNumber)">
                                        {{ 'requiredField' | translate }}
                                    </span>
                                </div>

                                <div class="form-group" [ngClass]="{'has-error': formErrors.percentage}">
                                    <label class="col-sm-3 control-label">
                                        {{ 'allocationManagement.resources.grid.percentage' | translate }}
                                    </label>
                                    <div class="col-sm-5">
                                        <input formControlName="percentage" (blur)="logValidationErrors()"
                                            class="form-control" type="number" myNumberOnly max="100" min="0"
                                            placeholder="%" [digitLimit]="3">
                                        <span class="help-block" *ngIf="formErrors.percentage">
                                            {{formErrors.percentage}}
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {{ 'allocationManagement.resources.grid.address' | translate }}
                                    </label>
                                    <div class="col-sm-9">
                                        <input formControlName="address" type="text" class="form-control"
                                            name="address" maxlength="100">
                                    </div>
                                </div>

                                <div class="form-group" [ngClass]="{'has-error': formErrors.country}">
                                    <label class="col-sm-3 control-label">
                                        {{ 'allocationManagement.resources.grid.country' | translate }}
                                    </label>
                                    <div class="col-sm-9">
                                        <ng-select [items]="countries" bindLabel="text" formControlName="country"
                                            (blur)="logValidationErrors()" [clearable]="false">
                                        </ng-select>
                                        <span class="help-block" *ngIf="formErrors.country">
                                            {{formErrors.country}}
                                        </span>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="form-group" [ngClass]="{'has-error': formErrors.employeeNumber}">
                                    <label class="col-sm-3 control-label">
                                        {{ 'allocationManagement.resources.grid.employeeNumber' | translate }}
                                    </label>
                                    <div class="col-sm-9">
                                        <input formControlName="employeeNumber" (blur)="logValidationErrors()"
                                            type="text" myNumberOnly class="form-control" maxlength="9" autocomplete="off">
                                        <span class="help-block" *ngIf="formErrors.employeeNumber">
                                            {{formErrors.employeeNumber}}
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {{ 'allocationManagement.resources.grid.email' | translate }}
                                    </label>
                                    <div class="col-sm-9">
                                        <input formControlName="userEmail" type="text" class="form-control"
                                            name="userEmail">
                                    </div>
                                </div>

                                <div class="form-group" [ngClass]="{'has-error': formErrors.startDate}">
                                    <label class="col-sm-3 control-label">
                                        {{ 'allocationManagement.resources.startDate' | translate }}
                                    </label>
                                    <div class="col-sm-5">
                                        <input formControlName="startDate" bsDatepicker #dp="bsDatepicker"
                                            [bsConfig]="bsConfig" (blur)="logValidationErrors()" type="text"
                                            class="form-control">
                                        <span class="help-block" *ngIf="formErrors.startDate">
                                            {{formErrors.startDate}}
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group" [ngClass]="{'has-error': formErrors.businessHours}">
                                    <label class="col-sm-3 control-label">
                                        {{ 'allocationManagement.resources.grid.businessHours' | translate }}
                                    </label>
                                    <div class="col-sm-5">
                                        <input formControlName="businessHours" (blur)="logValidationErrors()"
                                            class="form-control" type="number" myNumberOnly max="8" min="0" [digitLimit]="2"
                                            placeholder=" {{ 'allocationManagement.resources.HoursPerDay' | translate }}">
                                        <span class="help-block" *ngIf="formErrors.businessHours">
                                            {{formErrors.businessHours}}
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {{ 'city' | translate }}
                                    </label>
                                    <div class="col-sm-9">
                                        <input formControlName="location" type="text" class="form-control"
                                            name="location" maxlength="100">
                                    </div>
                                </div>

                                <div class="form-group" [ngClass]="{'has-error': formErrors.province}">
                                    <label class="col-sm-3 control-label">
                                        {{ 'allocationManagement.resources.grid.province' | translate }}
                                    </label>
                                    <div class="col-sm-9">
                                        <ng-select [items]="provinces" bindLabel="text" formControlName="province"
                                            onchange="logValidationErrors()" (blur)="logValidationErrors()">
                                        </ng-select>
                                        <span class="help-block" *ngIf="formErrors.province">
                                            {{formErrors.province}}
                                        </span>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>

                <div id="tab-2" class="tab-pane">
                    <div class="panel-body">
                        <form class="form-horizontal">

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {{ 'allocationManagement.resources.grid.documentNumberType' | translate }}
                                    </label>
                                    <div class="col-sm-9">
                                        <ng-select [items]="documentTypes" bindLabel="text" bindValue="id" [(ngModel)]="model.documentTypeId" name="documentTypeId">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {{ 'allocationManagement.resources.grid.cuil' | translate }}
                                    </label>
                                    <div class="col-sm-9">
                                        <input [(ngModel)]="model.cuil" type="number" digitLimit="11" class="form-control" name="cuil">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {{ 'allocationManagement.resources.grid.profile' | translate }}
                                    </label>
                                    <div class="col-sm-9">
                                        <input [(ngModel)]="model.profile" type="text" class="form-control"
                                            name="profile" maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {{ 'allocationManagement.resources.grid.officeAddress' | translate }}
                                    </label>
                                    <div class="col-sm-9">
                                        <input [(ngModel)]="model.officeAddress" type="text" class="form-control"
                                            name="officeAddress" maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {{ 'allocationManagement.resources.businessHoursDescription' | translate }}
                                    </label>
                                    <div class="col-sm-5">
                                        <input [(ngModel)]="model.businessHoursDescription" type="text"
                                            class="form-control" name="businessHoursDescription" maxlength="100"
                                            placeholder="ej. 9 a 18hs">
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {{ 'allocationManagement.resources.grid.documentNumber' | translate }}
                                    </label>
                                    <div class="col-sm-9">
                                        <input [(ngModel)]="model.documentNumber" type="text" class="form-control"
                                            name="documentNumber" maxlength="9" autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {{ 'allocationManagement.resources.grid.birthday' | translate }}
                                    </label>
                                    <div class="col-sm-5">
                                        <date-picker [(date)]="model.birthday" #dateBirthday></date-picker>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {{ 'allocationManagement.resources.grid.technology' | translate }}
                                    </label>
                                    <div class="col-sm-9">
                                        <input [(ngModel)]="model.technology" type="text" class="form-control"
                                            name="technology" maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {{ 'allocationManagement.resources.grid.senority' | translate }}
                                    </label>
                                    <div class="col-sm-9">
                                        <input [(ngModel)]="model.seniority" type="text" class="form-control"
                                            name="senority" maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {{ 'ADMIN.endDate' | translate }}
                                    </label>
                                    <div class="col-sm-5">
                                        <input [(ngModel)]="model.endDate" type="text" class="form-control"
                                            name="endDate" disabled>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>