<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> {{ 'workTimeManagement.import.title' | translate }} </h2>

        <ol class="breadcrumb">
            <li><a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a></li>
            <li>{{'workTimeManagement.title' | translate }}</li>
            <li class="active"><strong> {{ 'workTimeManagement.import.shortTitle' | translate }} </strong></li>
        </ol>
    </div>
</div>
 
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label">{{ 'allocationManagement.analytics.title' | translate }}</label>
                        <ng-select [items]="analytics" bindLabel="text" bindValue="id" [(ngModel)]="analyticId" (change)="uploaderConfig()"></ng-select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="m-t-sm" *ngIf="analyticId > 0">
                        <input #selectedFile type="file" ng2FileSelect [uploader]="uploader" />
            
                        <div class="uploader-margin-top">
                            <label *ngIf="uploader.getNotUploadedItems().length">{{'progress' | translate }}:</label>
                            <div class="progress" *ngIf="uploader.getNotUploadedItems().length">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                            </div>
        
                            <button type="button" class="btn btn-success btn-s" (click)="upload()" [disabled]="!uploader.getNotUploadedItems().length">
                                <span class="glyphicon glyphicon-upload"></span> {{'import' | translate }}
                            </button>
                            <button type="button" class="btn btn-danger btn-s" (click)="clearSelectedFile()" [disabled]="!uploader.getNotUploadedItems().length">
                                <span class="fa fa-times"></span> {{'quit' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-footer">
            <div class="text-right">
                <button class="btn btn-sm btn-success" [disabled]="!analyticId" (click)="exportTemplate()">{{ 'workTimeManagement.import.export' | translate }} <i class="fa fa-download"></i></button>
            </div>
        </div>
    </div>

    <div class="alert alert-success" *ngIf="showSuccess">
        <div style="display: inline-flex;">
            <i class="fa fa-check fa-3x"></i> 
            <h3 class="m-l-sm m-t-sm">{{ 'workTimeManagement.import.importSuccess' | translate }}</h3>
        </div>
    </div>

    <div class="panel panel-danger" *ngIf="errors.length > 0">
        <div class="panel-heading">
            <h5 class="panel-title">{{ 'workTimeManagement.import.importContainsErrors' | translate }}</h5>
        </div> 
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped dataTable" role="grid" id="errorsTable">
                    <thead>
                        <tr>
                            <th>{{ 'workTimeManagement.import.employeeNumber' | translate }}</th>
                            <th>{{ 'workTimeManagement.import.resource' | translate }}</th>
                            <th>{{ 'workTimeManagement.import.date' | translate }}</th>
                            <th>{{ 'workTimeManagement.import.row' | translate }}</th>
                            <th>{{ 'workTimeManagement.import.error' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let error of errors">
                            <td>{{ error.employeeNumber }}</td>
                            <td>{{ error.employee }}</td>
                            <td>{{ error.date }}</td>
                            <td>{{ error.row }}</td>
                            <td>{{ translateError(error.error) }}</td>
                        </tr>
                    </tbody>
                </table>       
            </div>
        </div>
    </div>
</div>