<div class="row">
    <div class="col-sm-7">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ 'contracts.costCenter.title' | translate }}</label>
                    <ng-select [items]="costCenters" bindLabel="text" bindValue="id" [(ngModel)]="model.costCenterId"
                        (change)="costCenterChange()" [disabled]="isReadOnly"></ng-select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.title' | translate }}</label>
                    <input type="text" class="form-control" id="title" [(ngModel)]="model.title" data-mask="999-*9999"
                        [disabled]="mode == 'edit'">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.name' | translate }}</label>
                    <input type="text" maxlength="200" class="form-control" [(ngModel)]="model.name">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label
                        class="control-label">{{ 'allocationManagement.analytics.add.startDate' | translate }}</label>
                    <date-picker [(date)]="model.startDateContract"></date-picker>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.endDate' | translate }}</label>
                    <date-picker [(date)]="model.endDateContract"></date-picker>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <label class="control-label">{{ 'allocationManagement.analytics.add.proposal' | translate }}</label>
                <textarea rows="2" maxlength="500" class="form-control" [(ngModel)]="model.proposal"></textarea>
            </div>
        </div>
    </div>

    <div class="col-sm-5">
        <div class="form-group">
            <label class="control-label">{{ 'allocationManagement.analytics.add.manager' | translate }}</label>
            <ng-select [items]="options?.managers" bindLabel="text" bindValue="id" [(ngModel)]="model.managerId"
                [disabled]="isReadOnly"></ng-select>
        </div>

        <div class="form-group">
            <label class="control-label">{{ 'allocationManagement.analytics.add.director' | translate }}</label>
            <ng-select [items]="options?.directors" bindLabel="text" bindValue="id" [(ngModel)]="model.directorId"
                [disabled]="isReadOnly"></ng-select>
        </div>

        <div class="form-group">
            <label class="control-label">{{ 'contracts.consultant.consultant' | translate }}</label>
            <ng-select [items]="customers" bindLabel="text" bindValue="id" [(ngModel)]="model.customerId" [disabled]="isReadOnly"></ng-select>
        </div>

    </div>
</div>